#zodiac>#signs g:hover path,
#bodies use:hover *,
#aspects line:hover {
	stroke-width: 0.2em;
}

#aspects path:hover {
	stroke:#DAA;
	stroke-width: 20;
}

#houses path {
	stroke:transparent;
	stroke-opacity:0.5;
	stroke-width:90;
	fill:none;
}

#houses path:hover {
	stroke:#CCF;
}

#zodiac>#signs g path.zone {
	stroke:#b58c00;
	fill:#f8f8c1;
}