#aspects>line {
	stroke-linecap:round;
}

#aspects>line.Opposition {
	stroke: white;
}

#aspects>line.Square {
	stroke:red;
}

#aspects>line.Quincunx {
	stroke:cornflowerblue;
}

#aspects>line.Trine{
	stroke: lightgreen;
}

#aspects>line.Sextile {
	stroke: deeppink;
}

#aspects>line.Semi-sextile {
	stroke:blue;
}

#aspects path {
	stroke:#FCC;
	stroke-width:10;
	fill:none;
}

/* disable aspect for nodes */
#aspects>line.TrueSouthNodeTrueNode,
#aspects>line.TrueNodeTrueSouthNode,
#aspects>line.MeanSouthNodeMeanNode,
#aspects>line.MeanNodeMeanSouthNode,
#aspects>line.TrueSouthNodeMeanNode,
#aspects>line.MeanNodeTrueSouthNode,
#aspects>line.MeanSouthNodeTrueNode,
#aspects>line.MeanNodeTrueSouthNode {
	display:none;
}
