/* --------------------------------- HOUSES --------------------------------- */

/* Cuspids */
#cuspids line, #Arrow {
	fill:none;
	stroke:#2279ab;
	stroke-width:1.5;
	stroke-linecap:round;
	stroke-linejoin:round;
}

#Arrow{
	stroke-width:1.0;
}

/* Main cuspids */
#cuspids line.I,
#cuspids line.IV,
#cuspids line.VII,
#cuspids line.X,
#cuspids line.XIII,
#cuspids line.XVI,
#cuspids line.XIX,
#cuspids line.XXII,
#cuspids line.XXV,
#cuspids line.XXVIII,
#cuspids line.XXXI,
#cuspids line.XXXIV {
    stroke-width:3;
}

/* Center of the chart */
#houses .origin {
	stroke:#808080;
	stroke-width:0.5;
}

/* Circle of houses used in the default xslt */
#houses>#circle {
	fill:#dff0fa;
	stroke:#2279ab;
	stroke-width:1;
}

/* Numbers */
#cuspids text {
	font-size:12px;
	fill:#2279ab;
	font-family:Georgia;
}

.planet {
	stroke: #2279ab;
	fill: rgba(0, 0, 0, 0);
}

.mirror {
	stroke: yellow;
	fill: rgba(0, 0, 0, 0);
}
