defs g.mp *,
#mirrors use * {
	fill: #4a4a4a;
	stroke: yellow;
	stroke-width: 1.25;
	stroke-linecap: round;
}

#mirrors line {
	stroke: yellow;
	stroke-linecap: round;
}

#mirrors text {
	font-size: 7px;
	font-style: normal;
	fill: yellow;
	stroke: none;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	font-family: Georgia;
}

/* Nodes and Lilith */
defs g#OscuApogee *, 
defs g#MeanApogee *, 
defs g#TrueNode *, 
defs g#MeanNode *,
defs g#TrueSouthNode *, 
defs g#MeanSouthNode *,
#mirrors use.OscuApogee *, 
#mirrors use.MeanApogee *, 
#mirrors use.TrueNode *, 
#mirrors use.MeanNode *,
#mirrors use.TrueSouthNode *, 
#mirrors use.MeanSouthNode *,
#mirrors line.OscuApogee, 
#mirrors line.MeanApogee, 
#mirrors line.TrueNode, 
#mirrors line.MeanNode,
#mirrors line.TrueSouthNode, 
#mirrors line.MeanSouthNode {
	stroke: black;
}

#mirrors text.OscuApogee, 
#mirrors text.MeanApogee, 
#mirrors text.TrueNode, 
#mirrors text.MeanNode,
#mirrors text.TrueSouthNode, 
#mirrors text.MeanSouthNode {
	fill: black;
}

/* Asteroids */
defs g#Chiron *, 
defs g#Pholus *, 
defs g#Ceres *,
defs g#Pallas *,
defs g#Juno *,
defs g#Vesta *,
#mirrors use.Chiron *, 
#mirrors use.Pholus *, 
#mirrors use.Ceres *,
#mirrors use.Pallas *,
#mirrors use.Juno *,
#mirrors use.Vesta *,
#mirrors line.Chiron, 
#mirrors line.Pholus, 
#mirrors line.Ceres, 
#mirrors line.Pallas, 
#mirrors line.Juno, 
#mirrors line.Vesta {
	stroke: #800;
}

#mirrors text.Chiron, 
#mirrors text.Pholus, 
#mirrors text.Ceres, 
#mirrors text.Pallas, 
#mirrors text.Juno, 
#mirrors text.Vesta {
	fill: #800;
}
