.wheel-container {
	max-width: 60rem;
	margin: 0 auto;
}

.circle {
	fill: #4a4a4a;
	stroke: #f17688;	
	stroke-width: 2px;
	&.points {
		transform: translate(300px, 300px);
	}
	&.is-1{
		transform: matrix(1.07, 0, 0, 1.07, -21, -21);
		stroke-width: 1px;
	}
	&.is-2{
		transform: matrix(1.04, 0, 0, 1.04, -12, -12);
	}
	&.is-6{
		transform: matrix(.3, 0, 0, .3, 210, 210);
	}
}