#zodiac>#circle>path.disc {
	fill: #4a4a4a;
	stroke: #f17688;
	stroke-width:2;
}

#zodiac>#circle>path {
	fill: #4a4a4a;
	stroke: #f17688;
	stroke-width:2;
}

/* Signs */
#zodiac>#signs path {
	fill:none;
	stroke:#f17688;
	stroke-width:2;
	stroke-linecap:round;
	stroke-linejoin:round;
}

#ascendant {
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	fill:#2279ab;
	stroke-width:1px;
	font-family:Georgia;
}