html, body {
  overflow-x: hidden;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  background: #4a4a4a;
  padding-bottom: 6rem;

  min-height: 100vh;
}

.fixed_headers {
  //width: 1000px !important;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 8pt;
  //overflow: hidden;
}

.fixed_headers th,
.fixed_headers td {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

.input.small {
  width: 70px;
}

.fixed_headers td,
.fixed_headers th {
  min-width: 50px;
  width: 50px;
}

.fixed_headers thead {
  background-color: #333;
  color: #FDFDFD;
  //width: 1000px;
}

.fixed_headers thead tr {
  display: block;
  position: relative;
  //width: 1000px;
}

.fixed_headers tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  //width: 1000px;
  height: 360px;
}

.fixed_headers tr td:nth-of-type(1),
.fixed_headers tr td:nth-of-type(2) {
  background-color: #333;
  color: #FDFDFD;
}

.old_ie_wrapper {
  height: 300px;
  width: 750px;
  overflow-x: hidden;
  overflow-y: auto;
}

.old_ie_wrapper tbody {
  height: auto;
}
