@import "~bulma/sass/utilities/initial-variables.sass";

$white: #fff;
$st-grey: #4a4a4a;

$table-color: $white;
$table-head-cell-color: $white;
$title-color: $white;
$subtitle-color: $white;

$input-color: $white;
$input-background-color: $st-grey;

$table-background-color: $st-grey;
$table-striped-row-even-background-color: #414141;
$table-row-hover-background-color: #555;
$table-striped-row-even-hover-background-color: #555;

$navbar-background-color: $st-grey;
$navbar-item-hover-background-color: darken($st-grey, 5%);
$navbar-breakpoint: $tablet;

$link: $white;

$button-background-color: $white;
$button-color: #363636;

$button-text-color:	$white;
$button-text-hover-background-color: rgba(0, 0, 0, 0);
$button-text-hover-color: $white;

$label-color: $white;