<template>
  <div class="wheel-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
      <planets />
      <g id="main">
        <main-circle :rotate="rotate" />
        <aspects
          :conjuncts="aspectsGraph.conjuncts"
          :others="aspectsGraph.others"
          :mp_conjuncts="aspectsGraph.mp_conjuncts"
          :mp_others="aspectsGraph.mp_others"
          :filter="filter"
          :filter_mp_aspects="filter_mp_aspects"
          :filter_mp="filter_mp"
          :chartKey="chartKey"
        />
        <circle-center />
        <cuspids :housesGraph="housesGraph" />
        <bodies :bodiesGraph="bodiesGraph" />
        <mirrors :mirrorPoints="mirrorPoints" :filter_mp="filter_mp" />
      </g>
    </svg>
  </div>
</template>
<script>
import { capitalize } from "@/plugins/lib.js";
import Planets from "./blocks/Planets";
import Sings from "./blocks/Sings";
import Aspects from "./blocks/Aspects";
import Cuspids from "./blocks/Cuspids";
import Bodies from "./blocks/Bodies";
import Mirrors from "./blocks/Mirrors";
import CircleCenter from "./blocks/CircleCenter";
import MainCircle from "./blocks/MainCircle";

export default {
  name: "Wheel",
  props: ["aspects", "mp_aspects", "filter_mp_aspects", "houses", "bodies", "filter", "filter_mp", "chartKey", "rotation_angle"],
  components: {
    Planets,
    Sings,
    Aspects,
    Cuspids,
    Bodies,
    Mirrors,
    CircleCenter,
    MainCircle
  },
  data() {
    return {
      path: ["450", "300"],
      asc: null,
      ascZodiac: null,
      housesGraph: null,
      aspectsGraph: { conjuncts: [], others: [], mp_conjuncts: [], mp_others: [] },
      bodiesGraph: null,
      mirrorPoints: null,
      pi: 3.1415
    };
  },
  computed: {
    rotate() {
      return this.asc + 180;
    }
  },
  watch: {
    houses() {
      this.asc = this.houses[0].ASC[0];
      this.ascZodiac = this.houses[0].zodiac[1];
      this.houseGraph();
      this.bodieGraph();
      this.aspectGraph();
      this.$forceUpdate();
    }
  },
  methods: {
    units: value => {
      return Math.floor(value);
    },
    decimals: value => {
      return value - Math.floor(value);
    },
    bodieGraph() {
      var ret = [];
      var mirror_points = [];
      var old_deg = -1000;
      var old_deg_mp = -1000;
      var dist = 0;
      var dist_mp = 1;
      this.bodies = this.bodies.sort((a, b) => a.pos.longitude - b.pos.longitude);
      this.bodies.forEach(element => {
        if (Math.abs(old_deg - element.pos.longitude) < 5) {
          dist += 1;
        } else {
          dist = 0;
        }
        old_deg = element.pos.longitude;
        var rad1 = ((element.pos.longitude - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 150 + 300;
        var y1 = -Math.sin(rad1) * 150 + 300;
        var x2 = Math.cos(rad1) * 170 + 300;
        var y2 = -Math.sin(rad1) * 170 + 300;
        var x3 = Math.cos(rad1) * (185 + dist * 20) + 300;
        var y3 = -Math.sin(rad1) * (185 + dist * 20) + 300;
        var x4 = Math.cos(rad1) * (220 + dist * 20) + 285;
        var y4 = -Math.sin(rad1) * (220 + dist * 20) + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          x3,
          y3,
          x4,
          y4,
          name: capitalize(element.name),
          pos: element.zodiac[1]
        });
        Object.keys(element.mirror_points).forEach(mp => {
          if (Math.abs(old_deg_mp - mp) < 5) {
            dist_mp += 1;
          } else {
            dist_mp = 1;
          }
          old_deg_mp = mp;
          var rad1 = ((mp - this.asc + 180) * Math.PI) / 180;
          var x1 = Math.cos(rad1) * 150 + 300;
          var y1 = -Math.sin(rad1) * 150 + 300;
          var x2 = Math.cos(rad1) * 160 + 300;
          var y2 = -Math.sin(rad1) * 160 + 300;
          var x3 = Math.cos(rad1) * (170 + dist_mp * 20) + 300;
          var y3 = -Math.sin(rad1) * (170 + dist_mp * 20) + 300;
          var x4 = Math.cos(rad1) * (185 + dist_mp * 20) + 292;
          var y4 = -Math.sin(rad1) * (185 + dist_mp * 20) + 300;
          mirror_points.push({
            x1,
            y1,
            x2,
            y2,
            x3,
            y3,
            x4,
            y4,
            name: "mp" + capitalize(element.name),
            planet: capitalize(element.name),
            pos: element.mirror_points[mp][1],
            type: 'mirror_point'
          });
        });
      });
      this.bodiesGraph = ret;
      this.mirrorPoints = mirror_points;
    },
    houseGraph() {
      var ret = [];
      this.houses.forEach(element => {
        var rad1 = ((element.pos[0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element.pos[0] - this.asc + 185) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 150 + 300;
        var y1 = -Math.sin(rad1) * 150 + 300;
        var x2 = Math.cos(rad1) * 240 + 300;
        var y2 = -Math.sin(rad1) * 240 + 300;
        var x3 = Math.cos(rad2) * 240 + 295;
        var y3 = -Math.sin(rad2) * 240 + 305;
        ret.push({ x1, y1, x2, y2, x3, y3, name: element.name });
      });
      this.housesGraph = ret;
    },
    aspectGraph() {
      var ret = [];
      this.aspectsGraph = {};
      this.aspects.conjuncts.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 155 + 300;
        var y1 = -Math.sin(rad1) * 155 + 300;
        var x2 = Math.cos(rad2) * 155 + 300;
        var y2 = -Math.sin(rad2) * 155 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Conjunction",
          un_type: "conjuncts",
          objects: [element[0], element[1]],
          name: element[0] + element[1]
        });
      });
      this.aspectsGraph.conjuncts = ret;
      ret = [];
      this.aspects.oppositions.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Opposition",
          un_type: "oppositions",
          objects: [element[0], element[1]],
          name: element[0] + element[1]
        });
      });
      this.aspects.squares.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Square",
          un_type: "squares",
          objects: [element[0], element[1]],
          name: element[0] + element[1]
        });
      });
      this.aspects.trines.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Trine",
          un_type: "trines",
          objects: [element[0], element[1]],
          name: element[0] + element[1]
        });
      });
      this.aspects.quincunxes.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Quincunx",
          un_type: "quincunxes",
          objects: [element[0], element[1]],
          name: element[0] + element[1]
        });
      });
      this.aspects.sextiles.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Sextile",
          un_type: "sextiles",
          objects: [element[0], element[1]],
          name: element[0] + element[1]
        });
      });
      this.aspectsGraph.others = ret;

      // for mirror point aspects

      ret = [];
      this.mp_aspects.conjuncts.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 155 + 300;
        var y1 = -Math.sin(rad1) * 155 + 300;
        var x2 = Math.cos(rad2) * 155 + 300;
        var y2 = -Math.sin(rad2) * 155 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Conjunction",
          un_type: "conjuncts",
          objects: [element[0], element[1]],
          name: element[0] + 'mp' + element[4] + element[1]
        });
      });
      this.aspectsGraph.mp_conjuncts = ret;
      ret = [];
      this.mp_aspects.oppositions.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Opposition",
          un_type: "oppositions",
          objects: [element[0], element[1]],
          name: element[0] + 'mp' + element[4] + element[1]
        });
      });
      this.mp_aspects.squares.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Square",
          un_type: "squares",
          objects: [element[0], element[1]],
          name: element[0] + 'mp' + element[4] + element[1]
        });
      });
      this.mp_aspects.trines.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Trine",
          un_type: "trines",
          objects: [element[0], element[1]],
          name: element[0] + 'mp' + element[4] + element[1]
        });
      });
      this.mp_aspects.quincunxes.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Quincunx",
          un_type: "quincunxes",
          objects: [element[0], element[1]],
          name: element[0] + 'mp' + element[4] + element[1]
        });
      });
      this.mp_aspects.sextiles.forEach(element => {
        var rad1 = ((element[3][0] - this.asc + 180) * Math.PI) / 180;
        var rad2 = ((element[3][1] - this.asc + 180) * Math.PI) / 180;
        var x1 = Math.cos(rad1) * 99 + 300;
        var y1 = -Math.sin(rad1) * 99 + 300;
        var x2 = Math.cos(rad2) * 99 + 300;
        var y2 = -Math.sin(rad2) * 99 + 300;
        ret.push({
          x1,
          y1,
          x2,
          y2,
          type: "Sextile",
          un_type: "sextiles",
          objects: [element[0], element[1]],
          name: element[0] + 'mp' + element[4] + element[1]
        });
      });
      this.aspectsGraph.mp_others = ret;
    }
  }
};
</script>

<style lang="scss">
@import "./style";
</style>
