<template>
    <div>
        <transition name="fade">
            <additional-info
                    v-if="is_scrolled && data_is_loaded && !is_loading"
                    :dateTime="date_time"
                    :totalPoints="totalPoints"
                    :location="{
          address: address.address,
          longitude: address.longitude,
          latitude: address.latitude
        }"
            />
        </transition>
        <div class="home columns is-multiline is-centered">
            <div class="column is-5 is-8-mobile is-offset-2-mobile">
                <astro-form
                        :isLoading="is_loading"
                        @send-form="getResponse"
                        @show-creation-form="showCreationForm"
                        :events="events"
                        ref="astroForm"
                />
                <direct-astro-form v-if="creationForm"
                                   :isLoading="is_loading"
                                   @send-form="directExecution"
                                   @save-request="saveEvent"
                                   ref="directastroForm"
                />
            </div>
        </div>

        <div class="columns is-multiline is-centered">
            <div
                    id="wheel"
                    class="column is-8"
                    ref="wheel"
            >
                <div class="is-sub-row has-text-white"
                     v-if="data_is_loaded && !is_loading">
                    <b-checkbox v-model="speed.reverse" :value="speed.reverse" :disabled="animation"></b-checkbox>reverse
                </div>
                <div class="is-sub-row has-text-white" style="margin-bottom: 0"
                     v-if="data_is_loaded && !is_loading">
                    speed:
                    <input
                            class="input small"
                            type="number"
                            v-validate="'required'"
                            data-vv-name="event"
                            v-model="speed.days"
                            :disabled="animation"
                    > d
                    <input
                            class="input small"
                            type="number"
                            v-validate="'required'"
                            data-vv-name="event"
                            v-model="speed.hours"
                            max="23"
                            min="0"
                            :disabled="animation"
                    > h
                    <input
                            class="input small"
                            type="number"
                            v-validate="'required'"
                            data-vv-name="event"
                            v-model="speed.minutes"
                            max="59"
                            min="0"
                            :disabled="animation"
                    > m
                    <input
                            class="input small"
                            type="number"
                            v-validate="'required'"
                            data-vv-name="event"
                            v-model="speed.seconds"
                            max="59"
                            min="0"
                            :disabled="animation"
                    >
                    <b-button type="is-success"
                              icon-left="angle-left"
                              v-if="data_is_loaded && !is_loading && !animation"
                              @click="stepBackward"></b-button>
                    <b-button type="is-success"
                              icon-left="play"
                              v-if="data_is_loaded && !is_loading && !animation"
                              @click="startAnimation"></b-button>
                    <b-button type="is-warning"
                              icon-left="pause"
                              v-if="data_is_loaded && !is_loading && animation"
                              @click="stopAnimation"></b-button>
                    <b-button type="is-success"
                              icon-left="angle-right"
                              v-if="data_is_loaded && !is_loading && !animation"
                              @click="stepForward"></b-button>
                </div>
                <div class="is-sub-row has-text-white" style="margin-bottom: 0; margin-top: 1rem"
                     v-if="data_is_loaded && !is_loading">
                    rotate:
                    <input
                            class="input small"
                            type="number"
                            v-validate="'required'"
                            data-vv-name="event"
                            v-model="rotation_angle"
                            :disabled="is_updating"
                            min="0"
                            max="359"
                    > deg
                    <button
                            class="button"
                            :class="{'is-loading': is_updating}"
                            @click="updateAngle"
                    >Update</button>
                    <button
                            class="button"
                            :class="{'is-loading': is_updating}"
                            @click="resetAngle"
                    >Reset</button>
                </div>
                <wheel :rotation_angle="rotation_angle" :aspects="aspects" :mp_aspects="mp_aspects" :bodies="bodies" :houses="houseTips" :filter="filter" :filter_mp="filter_mp" :filter_mp_aspects="filter_mp_aspects" :chartKey="chartKey" />
            </div>
            <div
                    class="column is-4"
                    v-if="readings_table && readings_table.length"
            >
                <div class="is-readings-mobile">
                    <planets-table :readings_table="readings_table" />
                </div>

                <button
                        class="button"
                        @click.stop="is_drawer_open = !is_drawer_open"
                >show special points</button>

                <button
                        class="button"
                        @click.stop="is_filter_open = !is_filter_open"
                >show filters</button>
            </div>

            <transition name="fade">
                <content-drawer
                        v-if="is_drawer_open"
                        :open="is_drawer_open"
                        @close-drawer="closeDrawer"
                >
                    <h3 class="title is-3">Special points</h3>
                    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th>Triggered by</th>
                            <th>Name</th>
                            <th>Zodiac</th>
                            <th>Point degree</th>
                            <th>Diff</th>
                            <th>Signification</th>
                            <th>Points</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                                v-for="sp in specialPoints"
                                :key="`${sp.Triggered_by}-${sp.Point_id}`"
                        >
                            <td>{{ sp.Triggered_by }}</td>
                            <td>{{ sp.Name }}</td>
                            <td>{{ sp.Zodiac }}</td>
                            <td>{{ sp.Point_degree | formatDegree }}</td>
                            <td>{{ sp.Difference | formatDegree}}</td>
                            <td>{{ sp.Signification }}</td>
                            <td>{{ sp.Points }}</td>
                        </tr>
                        <tr
                                v-for="sp in specialAspects"
                                :key="`${sp.label}`"
                        >
                            <td colspan="6">{{ sp.label }}</td>
                            <td>{{ sp.points }}</td>
                        </tr>
                        </tbody>
                    </table>
                </content-drawer>
            </transition>

            <transition name="fade">
                <content-drawer
                        v-if="is_filter_open"
                        :open="is_filter_open"
                        @close-drawer="closeFilter"
                >
                    <table class="table is-hoverable readings-table fixed_headers">
                        <thead>
                        <tr>
                            <th class="has-text-centered"></th>
                            <th class="has-text-centered"></th>
                            <th class="has-text-centered"></th>
                            <th class="has-text-centered" v-for="(degrees, aspect_type) in aspect_types" v-if="filter_mode === 0">{{degrees}}</th>
                            <th class="has-text-centered"></th>
                            <th class="has-text-centered" v-for="(degrees, aspect_type) in aspect_types" v-if="filter_mode === 1">{{degrees}}</th>
                        </tr>
                        <tr>
                            <th class="has-text-centered"></th>
                            <th class="has-text-centered">
                                Show all aspects
                                <div class="field">
                                    <b-checkbox @change.native="showBoth($event.target.checked)" :indeterminate="aggregateBoth() == null" :value="aggregateBoth()"></b-checkbox>
                                </div>
                            </th>
                            <th class="has-text-centered">
                                Aspects
                                <button class="button is-text" style="text-decoration: none" @click="change_filter_mode">
                  <span class="icon is-small is-left" v-if="filter_mode === 1">
                    <i class="fas fa-angle-left fa-lg"></i>
                  </span>
                                    <span class="icon is-small is-left" v-if="filter_mode === 0">
                    <i class="fas fa-angle-right fa-lg"></i>
                  </span>
                                </button>
                            </th>
                            <th class="has-text-centered" v-for="(degrees, aspect_type) in aspect_types" v-if="filter_mode === 0"><p style="transform: rotate(-90deg);  margin-left: -1.5em;">{{aspect_type}}</p></th>
                            <th class="has-text-centered">
                                Mirror Point Aspects
                                <button class="button is-text" style="text-decoration: none" @click="change_filter_mode">
                  <span class="icon is-small is-left" v-if="filter_mode === 0">
                    <i class="fas fa-angle-left fa-lg"></i>
                  </span>
                                    <span class="icon is-small is-left" v-if="filter_mode === 1">
                    <i class="fas fa-angle-right fa-lg"></i>
                  </span>
                                </button>
                            </th>
                            <th class="has-text-centered" v-for="(degrees, aspect_type) in aspect_types" v-if="filter_mode === 1"><p style="transform: rotate(-90deg);  margin-left: -1.5em;">{{aspect_type}}</p></th>
                        </tr>
                        <tr>
                            <th class="has-text-centered"></th>
                            <th class="has-text-centered">Show Mirror Points</th>
                            <th class="has-text-centered">
                                Show All
                                <div class="field">
                                    <b-checkbox @change.native="showEverything($event.target.checked)" :indeterminate="aggregateAll() == null" :value="aggregateAll()"></b-checkbox>
                                </div>
                            </th>
                            <th class="has-text-centered" v-for="(degrees, aspect_type) in aspect_types" v-if="filter_mode === 0">
                                <div class="field">
                                    <b-checkbox @change.native="showAllObjects(aspect_type, $event.target.checked)" :indeterminate="aggregateColumn(aspect_type) == null" :value="aggregateColumn(aspect_type)"></b-checkbox>
                                </div>
                            </th>
                            <th class="has-text-centered">
                                Show All
                                <div class="field">
                                    <b-checkbox @change.native="showEverythingMP($event.target.checked)" :indeterminate="aggregateAllMP() == null" :value="aggregateAllMP()"></b-checkbox>
                                </div>
                            </th>
                            <th class="has-text-centered" v-for="(degrees, aspect_type) in aspect_types" v-if="filter_mode === 1">
                                <div class="field">
                                    <b-checkbox @change.native="showAllObjectsMP(aspect_type, $event.target.checked)" :indeterminate="aggregateColumnMP(aspect_type) == null" :value="aggregateColumnMP(aspect_type)"></b-checkbox>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="object in astro_objects">
                            <td class="has-text-centered">{{object}}</td>
                            <td class="has-text-centered">
                                <div class="field" v-if="Object.keys(filter_mp).includes(object)">
                                    <b-checkbox v-model="filter_mp[object]" :key="chartKey" :value="filter_mp[object]"></b-checkbox>
                                </div>
                            </td>
                            <td class="has-text-centered">
                                <div class="field">
                                    <b-checkbox @change.native="showAllAspects(object, $event.target.checked)" :indeterminate="aggregateRow(object) == null" :value="aggregateRow(object)"></b-checkbox>
                                </div>
                            </td>
                            <td class="has-text-centered" v-for="(degrees, aspect_type) in aspect_types" v-if="filter_mode === 0">
                                <div class="field">
                                    <b-checkbox v-model="filter[object][aspect_type]" :key="chartKey" :value="filter[object][aspect_type]"></b-checkbox>
                                </div>
                            </td>
                            <td class="has-text-centered">
                                <div class="field" v-if="Object.keys(filter_mp).includes(object)">
                                    <b-checkbox :disabled="!filter_mp[object]" @change.native="showAllAspectsMP(object, $event.target.checked)" :indeterminate="aggregateRowMP(object) == null" :value="aggregateRowMP(object)"></b-checkbox>
                                </div>
                            </td>
                            <td class="has-text-centered" v-for="(degrees, aspect_type) in aspect_types" v-if="filter_mode === 1">
                                <div class="field" v-if="Object.keys(filter_mp).includes(object)">
                                    <b-checkbox :disabled="!filter_mp[object]" v-model="filter_mp_aspects[object][aspect_type]" :key="chartKey" :value="filter_mp_aspects[object][aspect_type]"></b-checkbox>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </content-drawer>
            </transition>

            <template v-if="data_is_loaded && !is_loading">
                <div ref="results" id="results" class="column is-10 is-10-mobile is-offset-1-mobile">
                    <result-group-table
                            :planets="bodies"
                            :address="address"
                            :readings="readings"
                            :houseTips="houseTips"
                            :specialPoints="specialPoints"
                            :conjuncts="aspects.conjuncts"
                            :oppositions="aspects.oppositions"
                            :trines="aspects.trines"
                            :squares="aspects.squares"
                    />
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import Wheel from "@/components/Wheel";
    import AstroForm from "@/components/AstroForm";
    import DirectAstroForm from "@/components/DirectAstroForm";
    import ResultGroupTable from "@/components/ResultGroupTable";
    import PlanetsTable from "@/components/PlanetsTable";
    import ContentDrawer from "@/components/ContentDrawer";
    import AdditionalInfo from '@/components/AdditionalInfo';

    import {scroller} from 'vue-scrollto/src/scrollTo';
    import getTopCoord from '@/plugins/lib';

    import {mapActions, mapState} from 'vuex';

    export default {
        name: "home",
        components: {
            Wheel,
            AstroForm,
            DirectAstroForm,
            ResultGroupTable,
            PlanetsTable,
            ContentDrawer,
            AdditionalInfo
        },
        data() {
            return {
                speed: {
                    seconds: 0,
                    minutes: 5,
                    hours: 0,
                    days: 0,
                    reverse: false,
                },
                totalPoints: 0,
                chartKey: 0,
                rotation_angle: 0,
                creationForm: true,
                animation: false,
                address: {},
                events: [],
                current_params: {},
                aspects: Object,
                mp_aspects: Object,
                bodies: Object,
                response_errors: [],
                houseTips: Array,
                readings: Array,
                readings_table: null,
                specialPoints: Array,
                specialAspects: Array,
                is_loading: false,
                is_updating: false,
                is_drawer_open: false,
                is_filter_open: false,
                is_scrolled: false,
                date_time: null,
                current_ts: null,
                astro_objects: [
                    'Sun', 'Moon', 'Mercury', 'Venus', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto', 'Ketu', 'Rahu', 'Lilith',
                    'ASC', 'House2', 'House3', 'IC', 'House5', 'House6', 'DC', 'House8', 'House9', 'MC', 'House11', 'House12'
                ],
                aspect_types: {
                    'conjuncts': 0, 'squares': 90, 'trines': 120, 'oppositions': 180, 'quincunxes': 72, 'sextiles': 60
                },
                filter_mp: {
                    'Sun': false,
                    'Moon': false,
                    'Mercury': false,
                    'Venus': false,
                    'Mars': false,
                    'Jupiter': false,
                    'Saturn': false,
                    'Uranus': false,
                    'Neptune': false,
                    'Pluto': false,
                    'Ketu': false,
                    'Rahu': false,
                    'Lilith': false
                },
                filter: [],
                filter_mp_aspects: [],
                filter_mode: 0
            };
        },
        computed: {
            ...mapState(["data_is_loaded"])
        },
        methods: {
            ...mapActions(["setIsLoadedParam"]),
            forceRerender(event) {
                // this.chartKey += 1;
                // console.log(this.filter);
            },
            change_filter_mode(event) {
                this.filter_mode = 1 - this.filter_mode;
            },
            showBoth(value) {
                this.showEverything(value);
                this.showEverythingMP(value);
                // this.chartKey += 1;
            },
            showEverything(value) {
                this.astro_objects.forEach(object => {
                    Object.keys(this.aspect_types).forEach(aspect_type => {
                        let tmp = this.filter[object];
                        tmp[aspect_type] = value;
                        this.filter.splice(object, 1, tmp);
                    });
                });
                // this.chartKey += 1;
            },
            showAllAspects(object, value) {
                Object.keys(this.aspect_types).forEach(aspect_type => {
                    let tmp = this.filter[object];
                    tmp[aspect_type] = value;
                    this.filter.splice(object, 1, tmp);
                });
                // this.chartKey += 1;
            },
            showAllObjects(aspect_type, value) {
                this.astro_objects.forEach(object => {
                    let tmp = this.filter[object];
                    tmp[aspect_type] = value;
                    this.filter.splice(object, 1, tmp);
                });
                // this.chartKey += 1;
            },
            aggregateBoth() {
                return this.aggregateAll() && this.aggregateAllMP();
            },
            aggregateAll() {
                let all_true = true;
                let all_false = true;

                this.astro_objects.forEach(object => {
                    Object.keys(this.aspect_types).forEach(aspect_type => {
                        if (this.filter[object][aspect_type]) {
                            all_false = false;
                        } else {
                            all_true = false;
                        }
                    });
                });
                if (all_true)
                    return true;
                else if (all_false)
                    return false;
                else return null;
            },
            aggregateRow(object) {
                let all_true = true;
                let all_false = true;

                Object.keys(this.aspect_types).forEach(aspect_type => {
                    if (this.filter[object][aspect_type]) {
                        all_false = false;
                    }
                    else {
                        all_true = false;
                    }
                });
                if (all_true)
                    return true;
                else if (all_false)
                    return false;
                else return null;
            },
            aggregateColumn(aspect_type) {
                let all_true = true;
                let all_false = true;

                this.astro_objects.forEach(object => {
                    if (this.filter[object][aspect_type]) {
                        all_false = false;
                    }
                    else {
                        all_true = false;
                    }
                });
                if (all_true)
                    return true;
                else if (all_false)
                    return false;
                else return null;
            },
            showEverythingMP(value) {
                this.astro_objects.forEach(object => {
                    Object.keys(this.aspect_types).forEach(aspect_type => {
                        let tmp = this.filter_mp_aspects[object];
                        tmp[aspect_type] = value;
                        this.filter_mp_aspects.splice(object, 1, tmp);
                    });
                });
                // this.chartKey += 1;
            },
            showAllAspectsMP(object, value) {
                Object.keys(this.aspect_types).forEach(aspect_type => {
                    let tmp = this.filter_mp_aspects[object];
                    tmp[aspect_type] = value;
                    this.filter_mp_aspects.splice(object, 1, tmp);
                });
                // this.chartKey += 1;
            },
            showAllObjectsMP(aspect_type, value) {
                this.astro_objects.forEach(object => {
                    let tmp = this.filter_mp_aspects[object];
                    tmp[aspect_type] = value;
                    this.filter_mp_aspects.splice(object, 1, tmp);
                });
                // this.chartKey += 1;
            },
            aggregateAllMP(object) {
                let all_true = true;
                let all_false = true;

                this.astro_objects.forEach(object => {
                    Object.keys(this.aspect_types).forEach(aspect_type => {
                        if (this.filter_mp_aspects[object][aspect_type]) {
                            all_false = false;
                        } else {
                            all_true = false;
                        }
                    });
                });
                if (all_true)
                    return true;
                else if (all_false)
                    return false;
                else return null;
            },
            aggregateRowMP(object) {
                let all_true = true;
                let all_false = true;

                Object.keys(this.aspect_types).forEach(aspect_type => {
                    if (this.filter_mp_aspects[object][aspect_type]) {
                        all_false = false;
                    }
                    else {
                        all_true = false;
                    }
                });
                if (all_true)
                    return true;
                else if (all_false)
                    return false;
                else return null;
            },
            aggregateColumnMP(aspect_type) {
                let all_true = true;
                let all_false = true;

                this.astro_objects.forEach(object => {
                    if (this.filter_mp_aspects[object][aspect_type]) {
                        all_false = false;
                    }
                    else {
                        all_true = false;
                    }
                });
                if (all_true)
                    return true;
                else if (all_false)
                    return false;
                else return null;
            },
            toggleDrawer() {
                this.is_drawer_open = !this.is_drawer_open
            },
            closeDrawer() {
                this.is_drawer_open = false
            },
            closeFilter() {
                this.is_filter_open = false
            },
            setPlace(place) {
                this.address = {
                    geo: { active: true, pos: place },
                    longitude: place.geometry.location.lng(),
                    latitude: place.geometry.location.lat(),
                    address: place.formatted_address,
                    short_name: place.address_components.find(el => el.short_name)
                        .short_name,
                    country: place.address_components.find(el => el.types.includes('country'))
                        .long_name,
                };
            },
            showCreationForm(value) {
                this.creationForm = value;
            },
            saveEvent(dateTime, place, eventInput, type) {
                this.setPlace(place);
                this.dateTime = dateTime;

                const url = `https://priv.astro.sol-ra.com:5000`;

                const query = `${url}/api/v1.0/events?name=${eventInput}&type=${type}&dt_of_birth=${dateTime}&city_of_birth=${this.address.address}&country_of_birth=${this.address.country}&lon=${this.address.longitude}&lat=${this.address.latitude}`;

                axios
                    .get(query)
                    .then(response => {
                        this.events = response.data;
                    })
                    .then(() => {
                        this.$toast.open('Request has been saved')
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            makeChartDataRequest(parameters, updateParams=true) {
                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/astrocalc/general";

                return axios
                    .post(url, parameters)
                    .then(response => {
                        response = response.data;


                        this.current_ts = response.request.dt;
                        this.date_time = response.request.dt;
                        this.address = response.address;
                        this.houseTips = response.houses;
                        this.readings = response.reading;
                        this.specialPoints = response.special;
                        this.specialAspects = response.special_aspects;
                        this.totalPoints = 0;
                        this.specialPoints.forEach(sp => {
                            this.totalPoints += sp.Points;
                        });
                        this.specialAspects.forEach(sa => {
                            this.totalPoints += sa.points;
                        });
                        this.aspects = response.aspects;
                        this.mp_aspects = response.mp_aspects;
                        this.bodies = response.planets;

                        this.readings_table = this.readings.map(item => item);
                        this.readings_table.forEach(item => {
                            item.name = item.name[0].toUpperCase() + item.name.slice(1);
                        });

                        if (updateParams)
                            this.current_params = {
                                dt: response.request.dt,
                                lon: response.request.lon,
                                lat: response.request.lat,
                                event: response.request.event,
                                city_of_birth: this.address.address,
                                rotation_angle: this.rotation_angle,
                            };
                    })
            },
            getResponse(eventInput) {
                this.is_loading = true;

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/astrocalc/general";
                this.makeChartDataRequest({
                    name: eventInput.trim(),
                    rotation_angle: this.rotation_angle
                })
                    .then(() => {
                        this.is_loading = false;
                        this.setIsLoadedParam(true);
                        this.scrollToElem('#wheel');
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            startAnimation() {
                this.animation = true;
                this.updateChart();
            },
            stopAnimation() {
                this.animation = false;
            },
            resetAngle() {
                this.rotation_angle = 0;
                this.updateAngle();
            },
            updateAngle() {
                this.is_updating = true;
                this.current_params.rotation_angle = this.rotation_angle;
                this.current_params.unrecorded = true;

                this.makeChartDataRequest(this.current_params, false)
                    .then(() => {
                        this.is_updating = false;
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            updateChart() {
                // this.is_loading = true;

                if (this.animation) {
                    this.current_params.simplified = true;
                    this.current_params.unrecorded = true;
                    if (this.speed.reverse)
                        this.current_params.dt -= this.speed.days * 24 * 60 * 60 + this.speed.hours * 60 * 60 + this.speed.minutes * 60 + this.speed.seconds;
                    else
                        this.current_params.dt += this.speed.days * 24 * 60 * 60 + this.speed.hours * 60 * 60 + this.speed.minutes * 60 + this.speed.seconds;

                    this.makeChartDataRequest(this.current_params, false)
                        .then(() => {
                            setTimeout(this.updateChart, 1000)
                        })
                        .catch(e => {
                            this.response_errors.push(e);
                        });
                }
            },
            stepForward() {
                this.current_params.simplified = true;
                this.current_params.unrecorded = true;
                this.current_params.dt += this.speed.days * 24 * 60 * 60 + this.speed.hours * 60 * 60 + this.speed.minutes * 60 + this.speed.seconds;

                this.makeChartDataRequest(this.current_params, false)
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            stepBackward() {
                this.current_params.simplified = true;
                this.current_params.unrecorded = true;
                this.current_params.dt -= this.speed.days * 24 * 60 * 60 + this.speed.hours * 60 * 60 + this.speed.minutes * 60 + this.speed.seconds;

                this.makeChartDataRequest(this.current_params, false)
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            directExecution(dateTime, place, eventInput, id) {
                this.is_loading = true;
                this.setPlace(place);
                this.date_time = dateTime;

                this.current_params = {
                    dt: dateTime,
                    lon: place.geometry.location.lng(),
                    lat: place.geometry.location.lat(),
                    event: eventInput.trim(),
                    city_of_birth: this.address.address,
                    rotation_angle: this.rotation_angle
                };

                this.makeChartDataRequest(this.current_params, false)
                    .then(() => {
                        this.is_loading = false;
                        this.setIsLoadedParam(true);
                        this.scrollToElem('#wheel');
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            scrollToElem(elem) {
                const scrollTo = scroller()
                scrollTo(elem)
            },
            handleScroll() {
                if(this.data_is_loaded) {
                    const astroFormHeight =  this.$refs.astroForm.$el.clientHeight;
                    const [topBorder, bottomBorder] = [
                        window.scrollY > astroFormHeight + 20,
                        window.scrollY < this.getTopCoord(this.$refs.results) - 200
                    ];

                    this.is_scrolled = topBorder && bottomBorder;
                }

            },
            getTopCoord(elem) {
                return elem.getBoundingClientRect().top + pageYOffset;
            },
            executeFromQueryParams() {
                if (
                    typeof this.$route.query.dt !== 'undefined' &&
                    typeof this.$route.query.event !== 'undefined' &&
                    typeof this.$route.query.lat !== 'undefined' &&
                    typeof this.$route.query.lon !== 'undefined' &&
                    typeof this.$route.query.city !== 'undefined'
                ) {
                    this.is_loading = true;
                    this.setIsLoadedParam(false);

                    this.current_params = {
                        dt: this.$route.query.dt,
                        event: this.$route.query.event,
                        lat: this.$route.query.lat,
                        lon: this.$route.query.lon,
                        city_of_birth: this.$route.query.city,
                        unrecorded: true,
                        rotation_angle: this.rotation_angle
                    };

                    this.makeChartDataRequest(this.current_params)
                        .then(() => {
                            this.is_loading = false;
                            this.setIsLoadedParam(true);
                            this.scrollToElem('#wheel');
                        })
                        .catch(e => {
                            this.response_errors.push(e);
                        });
                }
            }
        },
        created () {
            let objects_to_turn_off = [
                'Ketu', 'Rahu', 'House2', 'House3', 'House5', 'House6', 'House8', 'House9', 'House11', 'House12'
            ];
            let aspect_types_to_turn_off = [
                'quincunxes', 'sextiles'
            ];
            this.astro_objects.forEach(object => {
                this.filter[object] = {};
                this.filter_mp_aspects[object] = {};
                Object.keys(this.aspect_types).forEach(aspect_type => {
                    this.filter[object][aspect_type] = !objects_to_turn_off.includes(object) && !aspect_types_to_turn_off.includes(aspect_type);
                    this.filter_mp_aspects[object][aspect_type] = !aspect_types_to_turn_off.includes(aspect_type);
                })
            });
            window.addEventListener('scroll', this.handleScroll);
        },
        mounted() {
            const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/events/all`;

            axios
                .get(url)
                .then(response => response.data)
                .then(data => {
                    this.events = data;
                })
                .catch(e => console.log(e));
            this.executeFromQueryParams();
        },
        watch: {
            '$route.path'(val) {
                if(val == '/') {
                    this.executeFromQueryParams();
                }
            }
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        }
    };
</script>

<style scoped lang="scss">
    .is-readings-mobile{
        overflow-x: scroll;
        margin-bottom: 1rem;
        @media(max-width: 768px) {
            margin: 0 3rem;
        }
    }
</style>

