<template>
  <div>
    <div class="home columns is-multiline is-centered" id="event_creation">
      <div class="column is-5 is-8-mobile is-offset-2-mobile">
        <event-creation-form
          :isLoading="is_loading" 
          :id="id"
          :name="name"
          :type="type"
          :date="date"
          :time="time"
          :place="place"
          @send-form="getResponse"
          @edit-form="saveEvent"
          ref="eventCreationForm"
        />
      </div>
    </div>

    <div class="columns is-multiline is-centered">
      <table id="events_table" class="table is-narrow is-hoverable is-fullwidth">
        <template v-if="events && events.length && is_loaded">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Type</th>
              <th>City / Address</th>
              <th>Country</th>
              <th>Date & Time of Birth</th>
              <th>Sun Position</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(event, i) in events"
              :key="`${i}`"
            >
              <td>{{ i }}</td>
              <td>{{ event.name }}</td>
              <td>{{ event.type }}</td>
              <td>{{ event.city_of_birth }}</td>
              <td>{{ event.country_of_birth }}</td>
              <td>{{ event.timestamp | timestampToDate }}</td>
              <td>{{ event.sun_position_at_birth | formatDegreeZodiac }}</td>
              <td>
                <b-button type="is-success"
                          icon-left="pencil-alt"
                          @click="editEvent(event)"></b-button>
              </td>
              <td>
                <b-button type="is-danger"
                          icon-left="trash"
                          @click="deleteEvent(event.name)"></b-button>
              </td>
            </tr>
          </tbody>
        </template>
      </table>
    </div>

    <div class="home columns is-multiline is-centered">
      <div class="column is-5 is-8-mobile is-offset-2-mobile">
        <antagonist-protagonist-form
                :isLoading="is_loading"
                @send-form="getAntagonistProtagonist"
                ref="apForm"
                :events="events"
        />
      </div>
    </div>

    <div class="columns is-multiline is-centered">
      <table id="output_table" class="table is-narrow is-hoverable is-fullwidth">
        <template v-if="pa_output && pa_output.length">
          <thead>
          <tr>
            <th>#</th>
            <th>Protagonist</th>
            <th>Current position</th>
            <th>Antagonist</th>
            <th>Degrees from 0 ° Aries</th>
            <th>Has effect like:</th>
          </tr>
          </thead>
          <tbody>
          <tr
                  v-for="(pa, i) in pa_output"
                  :key="`${i}`"
          >
            <td>{{ i }}</td>
            <td>{{ pa.protagonist }}</td>
            <td>{{ pa.protagonist_pos | formatDegreeZodiac }}</td>
            <td>{{ pa.antagonist }}</td>
            <td>{{ pa.antagonist_pos }}</td>
            <td>{{ pa.sum_positions | formatDegreeZodiac }}</td>
          </tr>
          </tbody>
        </template>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

import {scroller} from 'vue-scrollto/src/scrollTo';
import getTopCoord from '@/plugins/lib';

import {mapActions, mapState} from 'vuex';
import AspectsForm from "../components/AspectsForm";
import EventCreationForm from "../components/EventCreationForm";
import AntagonistProtagonistForm from "../components/AntagonistProtagonistForm";

export default {
  name: "aspects",
  components: {
    AntagonistProtagonistForm,
    EventCreationForm,
    AspectsForm,
  },
  data() {
    return {
      id: '',
      name: '',
      type: '',
      time: '',
      date: '',
      place: {},
      address: {},
      events: [],
      pa_output: [],
      is_loaded: false,
      is_loading: false,
      response_errors: [],
    };
  },
  computed: {
    ...mapState(["data_is_loaded"])
  },
  methods: {
    ...mapActions(["setIsLoadedParam"]),
    getResponse(name, type, dateTime, place) {
      this.is_loading = true;
      this.setPlace(place);
      this.dateTime = dateTime;

      const url = `https://priv.astro.sol-ra.com:5000`;

      const query = `${url}/api/v1.0/events?name=${name}&type=${type}&dt_of_birth=${dateTime}&city_of_birth=${this.address.address}&country_of_birth=${this.address.country}&lon=${this.address.longitude}&lat=${this.address.latitude}`;

      axios
        .get(query)
        .then(response => {
          this.events = response.data;
        })
        .then(() => {
          this.is_loaded = true;
          this.is_loading = false;
          this.setIsLoadedParam(true);
          this.scrollToElem('#events_table', undefined, {
            offset: -60,
          });
        })
        .catch(e => {
          this.response_errors.push(e);
        });
    },
    saveEvent(id, name, type, dateTime, place) {
      this.is_loading = true;
      this.setPlace(place);
      this.dateTime = dateTime;

      const url = `https://priv.astro.sol-ra.com:5000`;

      const query = `${url}/api/v1.0/events/edit?id=${id}&name=${name}&type=${type}&dt_of_birth=${dateTime}&city_of_birth=${this.address.address}&country_of_birth=${this.address.country}&lon=${this.address.longitude}&lat=${this.address.latitude}`;

      axios
        .get(query)
        .then(response => {
          this.events = response.data;
        })
        .then(() => {
          this.is_loaded = true;
          this.is_loading = false;
          this.setIsLoadedParam(true);
          this.scrollToElem('#events_table', undefined, {
            offset: -60,
          });
        })
        .catch(e => {
          this.response_errors.push(e);
        });
    },
    getAntagonistProtagonist(name1, name2, datetime, id) {
      const url = `https://priv.astro.sol-ra.com:5000`;

      const query = `${url}/api/v1.0/ant_prot?name1=${name1}&name2=${name2}&datetime=${datetime}`;

      axios
        .get(query)
        .then(response => {
          this.pa_output = response.data;
        })
        .then(() => {
          this.scrollToElem('#output_table', undefined, {
            offset: -60,
          });
        })
        .catch(e => {
          this.response_errors.push(e);
        });
    },
    scrollToElem(elem, duration, options) {
      const scrollTo = scroller();
      scrollTo(elem, duration, options)
    },
    setPlace(place) {
      console.log(place.address_components);
      this.address = {
        geo: { active: true, pos: place },
        longitude: place.geometry.location.lng(),
        latitude: place.geometry.location.lat(),
        address: place.formatted_address,
        short_name: place.address_components.find(el => el.short_name)
          .short_name,
        country: place.address_components.find(el => el.types.includes('country'))
          .long_name,
      };
    },
    loadEvents() {
      const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/events/all`;

      this.isLoading = true;
      axios
        .get(url)
        .then(response => response.data)
        .then(data => {
          this.events = data;
          this.is_loaded = true;
          this.isLoading = false;
        })
        .catch(e => console.log(e))
    },
    deleteEvent(name) {
      const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/events/delete`;

      this.isLoading = true;
      axios
        .get(url, {
          params: {
            name: name,
          }
        })
        .then(response => response.data)
        .then(data => {
          this.events = data;
          this.is_loaded = true;
          this.isLoading = false;
        })
        .catch(e => console.log(e))
    },
    editEvent(event) {
      this.id = event.id;
      this.name = event.name;
      this.type = event.type;
      console.log(event.timestamp);
      console.log(moment(event.timestamp*1000));
      this.date = moment(event.timestamp*1000).utc().format('DD.MM.YYYY');
      this.time = moment(event.timestamp*1000).utc().format('HH:mm');
      this.dateTime = event.timestamp;
      this.place = {
        geometry: {
          location: {
            lng: function () {
              return event.coordinates_of_birth.lon;
            },
            lat: function () {
              return event.coordinates_of_birth.lat;
            },
          }
        },
        name: event.city_of_birth,
        formatted_address: event.city_of_birth,
        address_components: [{"long_name":event.country_of_birth,"short_name":" ","types":["country","political"]}]
      };
      this.scrollToElem('#event_creation', undefined, {
        offset: -60,
      });
    }
  },
  watch: {
    '$route.path'(val) {
      if(val == '/current_influence') {
        this.loadEvents();
      }
    }
  },
  mounted() {
    this.loadEvents();
  },
};
</script>

<style scoped lang="scss">
  .is-readings-mobile{
    overflow-x: scroll;
    margin-bottom: 1rem;
    @media(max-width: 768px) {
      margin: 0 3rem;
    }
  }
</style>
