<template class="container">
    <div class="row justify-content-center">
        <section>
            <div class="row">
                <md-field class="search-form">
                    <label class="search-label">{{show?`Input keywords and press 'Search'`:`Live search`}}</label>
                    <md-input v-model="searchTerm" class="search"></md-input>
                    <div class="searchBtn">
                        <md-button style="color: #fff" rounded class="md-raised" @click="show=!show">
                            {{show?'Search':'Back to last data'}}
                        </md-button>
                    </div>
                </md-field>
                <transition name="fade">
                    <div v-if="show===true" class="top-pagination-group">
                        <b-pagination
                                :total=totalItems
                                size="is-small"
                                :current.sync="current"
                                :per-page="perPage"
                                aria-next-label="Next page"
                                aria-previous-label="Previous page"
                                aria-page-label="Page"
                                aria-current-label="Current page"
                                @change="changePage"
                                class="pagination"
                        />
                    </div>
                </transition>
            </div>


            <div class="row table">
                <transition name="fade">
                    <sorted-table v-if="show===true" class="col" :values="values"
                                  ascIcon="<span>
                          <svg style='width:15px;height:15px' viewBox='0 0 24 24'>
                            <path fill='#000000' d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' />
                           </svg>
                            </span>"
                                  descIcon="<span>
                              <svg style='width:15px;height:15px' viewBox='0 0 24 24'>
                               <path fill='#000000' d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' />
                                </svg>
                               </span>"
                    >
                        <thead class="row justify-content-center">

                        <tr>
                            <th scope="col" style="text-align: left; width: 15rem;">
                                <sort-link class="col-4" name="name">Name</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: 15rem;">
                                <sort-link class="col-2" name="dt">Date</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: 15rem;">
                                <sort-link class="col" name="city_of_birth">Location</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: 15rem;">
                                <sort-link class="col" name="date">Request date</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: .5rem;">
                                <sort-link class="col" name="chart">View Chart</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: .5rem;">
                                <sort-link class="col" name="edit">Edit</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: .5rem;">
                                <sort-link class="col" name="remove">Remove</sort-link>
                            </th>
                        </tr>
                        </thead>


                        <tbody class="row" slot="body" slot-scope="sort">

                        <tr
                                v-for="item in sort.values"
                                :key="item.id"
                        >
                            <td>{{ item.name}}</td>
                            <td>{{item.dt|
                                autoFormat}}
                            </td>
                            <td>
                                <transition name="slide">
                                    <p v-if="item.id !== edit_id && !['lat', 'lon'].includes(key)">
                                        {{item.city_of_birth}}
                                    </p>
                                    <direct-astro-form v-if="(item.event === 'main') && item.id === edit_id"
                                                       :isLoading="is_loading"
                                                       :e_id="item.id"
                                                       :e_eventInput="item.parameters.event"
                                                       :e_type="item.parameters.event"
                                                       :e_dateTime="item.parameters.dt"
                                                       :e_place="{
                                            geometry: {
                                              location: {
                                                lng: function () {
                                                  return item.parameters.lon;
                                                },
                                                lat: function () {
                                                  return item.parameters.lat;
                                                },
                                              }
                                            },
                                            name: item.parameters.city_of_birth,
                                            formatted_address: item.parameters.city_of_birth,
                                            address_components: [{'long_name':'','short_name':'','types':['country','political']}]
                                         }"
                                                       @send-form="radixChart"
                                                       ref="directastroForm"/>
                                    <antagonist-protagonist-form
                                            v-if="(item.event === 'ant_prot') && item.id === edit_id"
                                            :isLoading="is_loading"
                                            :e_id="item.id"
                                            :e_dateTime="item.parameters.datetime"
                                            :e_name1="item.parameters.name1"
                                            :e_name2="item.parameters.name2"
                                            @send-form="antagonistProtagonist"
                                            ref="apForm"
                                            :events="events"/>
                                    <aspects-form v-if="(item.event === 'moments_ranking') && item.id === edit_id"
                                                  :isLoading="is_loading"
                                                  :e_id="item.id"
                                                  :e_place="{
                                            geometry: {
                                              location: {
                                                lng: function () {
                                                  return item.parameters.lon;
                                                },
                                                lat: function () {
                                                  return item.parameters.lat;
                                                },
                                              }
                                            },
                                            name: item.parameters.city,
                                            formatted_address: item.parameters.city,
                                            address_components: [{'long_name':'','short_name':'','types':['country','political']}]
                                         }"
                                                  :e_from_dateTime="item.parameters.from"
                                                  :e_to_dateTime="item.parameters.to"
                                                  @send-form="momentRanking"
                                                  ref="astroForm"/>
                                    <transits-form v-if="(item.event === 'transits') && item.id === edit_id"
                                                   :isLoading="is_loading"
                                                   :e_id="item.id"
                                                   :e_event="item.parameters.event"
                                                   :e_from_dateTime="item.parameters.from"
                                                   :e_to_dateTime="item.parameters.to"
                                                   @send-form="transitsPage"
                                                   ref="astroForm"
                                    />
                                </transition>
                            </td>

                            <td>{{ item.date| autoFormat }}</td>

                            <td>
                                <div class="but"
                                     @click="openChart(item.parameters.dt, item.parameters.event, item.parameters.lat, item.parameters.lon, formatCity(item.parameters))">
                                    <svg class="btn-color" style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#bbbbbb"
                                              d="M11,2V22C5.9,21.5 2,17.2 2,12C2,6.8 5.9,2.5 11,2M13,2V11H22C21.5,6.2 17.8,2.5 13,2M13,13V22C17.7,21.5 21.5,17.8 22,13H13Z"/>
                                    </svg>
                                </div>
                            </td>

                            <td>
                                <div class="but" v-if="edit_id !== item.id"
                                     @click="edit_id = item.id">
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#bbbbbb"
                                              d="M8,12H16V14H8V12M10,20H6V4H13V9H18V12.1L20,10.1V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H10V20M8,18H12.1L13,17.1V16H8V18M20.2,13C20.3,13 20.5,13.1 20.6,13.2L21.9,14.5C22.1,14.7 22.1,15.1 21.9,15.3L20.9,16.3L18.8,14.2L19.8,13.2C19.9,13.1 20,13 20.2,13M20.2,16.9L14.1,23H12V20.9L18.1,14.8L20.2,16.9Z"/>
                                    </svg>
                                </div>
                                <div class="but"
                                     v-if=" edit_id=== item.id"
                                     @click="edit_id = null">
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#bbbbbb"
                                              d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z"/>
                                    </svg>
                                </div>
                            </td>

                            <td>
                                <div class="but"
                                     @click="deleteRequest(item.id)">
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#bbbbbb"
                                              d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                    </svg>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <b-loading
                                :is-full-page="false"
                                :active.sync="isLoading"
                                class="table-preloader"
                        />
                    </sorted-table>
                </transition>
                <transition name="fade">
                    <sorted-table v-if="show===false" class="col" :values="filteredData()"
                                  ascIcon="<span>
                          <svg style='width:15px;height:15px' viewBox='0 0 24 24'>
                            <path fill='#000000' d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' />
                           </svg>
                            </span>"
                                  descIcon="<span>
                              <svg style='width:15px;height:15px' viewBox='0 0 24 24'>
                               <path fill='#000000' d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' />
                                </svg>
                               </span>"
                    >

                        <thead class="row justify-content-center">

                        <tr>
                            <th scope="col" style="text-align: left; width: 15rem;">
                                <sort-link class="col-4" name="name">Name</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: 15rem;">
                                <sort-link class="col-2" name="dt">Date</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: 15rem;">
                                <sort-link class="col" name="city_of_birth">Location</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: 15rem;">
                                <sort-link class="col" name="date">Request date</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: .5rem;">
                                <sort-link class="col" name="chart">View Chart</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: .5rem;">
                                <sort-link class="col" name="edit">Edit</sort-link>
                            </th>
                            <th scope="col" style="text-align: left; width: .5rem;">
                                <sort-link class="col" name="remove">Remove</sort-link>
                            </th>
                        </tr>
                        </thead>


                        <tbody class="row" slot="body" slot-scope="sort">

                        <tr
                                v-for="item in sort.values"
                                :key="item.id"
                        >
                            <td>{{ item.name}}</td>
                            <td>{{item.dt|
                                autoFormat}}
                            </td>
                            <td>
                                <transition name="slide">
                                    <p v-if="item.id !== edit_id && !['lat', 'lon'].includes(key)">
                                        {{item.city_of_birth}}
                                    </p>
                                    <direct-astro-form v-if="(item.event === 'main') && item.id === edit_id"
                                                       :isLoading="is_loading"
                                                       :e_id="item.id"
                                                       :e_eventInput="item.parameters.event"
                                                       :e_type="item.parameters.event"
                                                       :e_dateTime="item.parameters.dt"
                                                       :e_place="{
                                            geometry: {
                                              location: {
                                                lng: function () {
                                                  return item.parameters.lon;
                                                },
                                                lat: function () {
                                                  return item.parameters.lat;
                                                },
                                              }
                                            },
                                            name: item.parameters.city_of_birth,
                                            formatted_address: item.parameters.city_of_birth,
                                            address_components: [{'long_name':'','short_name':'','types':['country','political']}]
                                         }"
                                                       @send-form="radixChart"
                                                       ref="directastroForm"/>
                                    <antagonist-protagonist-form
                                            v-if="(item.event === 'ant_prot') && item.id === edit_id"
                                            :isLoading="is_loading"
                                            :e_id="item.id"
                                            :e_dateTime="item.parameters.datetime"
                                            :e_name1="item.parameters.name1"
                                            :e_name2="item.parameters.name2"
                                            @send-form="antagonistProtagonist"
                                            ref="apForm"
                                            :events="events"/>
                                    <aspects-form v-if="(item.event === 'moments_ranking') && item.id === edit_id"
                                                  :isLoading="is_loading"
                                                  :e_id="item.id"
                                                  :e_place="{
                                            geometry: {
                                              location: {
                                                lng: function () {
                                                  return item.parameters.lon;
                                                },
                                                lat: function () {
                                                  return item.parameters.lat;
                                                },
                                              }
                                            },
                                            name: item.parameters.city,
                                            formatted_address: item.parameters.city,
                                            address_components: [{'long_name':'','short_name':'','types':['country','political']}]
                                         }"
                                                  :e_from_dateTime="item.parameters.from"
                                                  :e_to_dateTime="item.parameters.to"
                                                  @send-form="momentRanking"
                                                  ref="astroForm"/>
                                    <transits-form v-if="(item.event === 'transits') && item.id === edit_id"
                                                   :isLoading="is_loading"
                                                   :e_id="item.id"
                                                   :e_event="item.parameters.event"
                                                   :e_from_dateTime="item.parameters.from"
                                                   :e_to_dateTime="item.parameters.to"
                                                   @send-form="transitsPage"
                                                   ref="astroForm"
                                    />
                                </transition>
                            </td>

                            <td>{{ item.date| autoFormat }}</td>


                            <td>
                                <div class="but"
                                     @click="openChart(item.parameters.dt, item.parameters.event, item.parameters.lat, item.parameters.lon, formatCity(item.parameters))">
                                    <svg class="btn-color" style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#bbbbbb"
                                              d="M11,2V22C5.9,21.5 2,17.2 2,12C2,6.8 5.9,2.5 11,2M13,2V11H22C21.5,6.2 17.8,2.5 13,2M13,13V22C17.7,21.5 21.5,17.8 22,13H13Z"/>
                                    </svg>
                                </div>
                            </td>

                            <td>
                                <div class="but" v-if="edit_id !== item.id"
                                     @click="edit_id = item.id">
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#bbbbbb"
                                              d="M8,12H16V14H8V12M10,20H6V4H13V9H18V12.1L20,10.1V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H10V20M8,18H12.1L13,17.1V16H8V18M20.2,13C20.3,13 20.5,13.1 20.6,13.2L21.9,14.5C22.1,14.7 22.1,15.1 21.9,15.3L20.9,16.3L18.8,14.2L19.8,13.2C19.9,13.1 20,13 20.2,13M20.2,16.9L14.1,23H12V20.9L18.1,14.8L20.2,16.9Z"/>
                                    </svg>
                                </div>
                                <div class="but"
                                     v-if=" edit_id=== item.id"
                                     @click="edit_id = null">
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#bbbbbb"
                                              d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z"/>
                                    </svg>
                                </div>
                            </td>

                            <td>
                                <div class="but"
                                     @click="deleteRequest(item.id)">
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#bbbbbb"
                                              d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                    </svg>
                                </div>
                            </td>
                        </tr>
                        </tbody>


                    </sorted-table>
                </transition>
            </div>

        </section>
    </div>
</template>

<script>
    import axios from "axios";
    import moment from "moment";
    import TransitsForm from "@/components/TransitsForm";
    import AspectsForm from "@/components/AspectsForm";
    import DirectAstroForm from "@/components/DirectAstroForm";
    import AntagonistProtagonistForm from "@/components/AntagonistProtagonistForm";


    export default {
        name: "home",
        components: {
            TransitsForm,
            AspectsForm,
            DirectAstroForm,
            AntagonistProtagonistForm,
        },
        data() {
            return {
                edit_id: null,
                is_loading: false,
                address: Object,
                totalItems: 100,
                current: 1,
                perPage: 20,
                fullPerPage: 2000,
                values: [],
                searchTerm: null,
                show: true,
                events: [],

            }
        },
        methods: {
            changePage(value) {
                this.current = value;
                this.searchTerm = null;
                this.loadHistory();

            },
            formatDate(date) {
                return moment.unix(date).format('DD.MM.YYYY HH:mm');
            },
            formatCity(item) {
                if (typeof item.city_of_birth === 'undefined')
                    return `${item.lat},${item.lon}`;
                else return item.city_of_birth;
            },
            loadHistory(current = this.current, perPage = this.perPage) {
                const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/get_full_history`;

                axios
                    .get(url, {
                        params: {
                            current_page: current,
                            per_page: perPage,
                        }
                    })
                    .then(response => response.data)
                    .then(data => {
                        this.values = data.items;
                        this.totalItems = data.total_items;
                        this.isLoading = false;
                        let arr = [];
                        for (let val of this.values) {
                            if (val.parameters) {
                                arr.push(Object.assign(val, val.parameters))
                            }
                        }
                        for (let val of this.values) {
                            if (val.name) {
                                val.name = val.name[0].toUpperCase() + val.name.slice(1)
                            }
                            if (val.event) {
                                val.event = 'main'
                            }
                        }
                    })
                    .catch(e => console.log(e))
            },

            loadFullHistory(current = this.current, perPage = this.fullPerPage) {
                const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/get_full_history`;
                axios
                    .get(url, {
                        params: {
                            current_page: current,
                            per_page: perPage,
                        }
                    })
                    .then(response => response.data)
                    .then(data => {
                        this.fullHistory = data.items;
                        let arr = [];
                        for (let val of this.fullHistory) {
                            if (val.parameters) {
                                arr.push(Object.assign(val, val.parameters))
                            }
                        }
                        for (let val of this.fullHistory) {
                            if (val.name) {
                                val.name = val.name[0].toUpperCase() + val.name.slice(1)
                            }
                            if (val.event) {
                                val.event = 'main'
                            }
                        }
                    })
                    .catch(e => console.log(e))
            },

                filteredData() {
                let user = this.fullHistory
                if (this.searchTerm)
                    user = user.filter(v => v.name.toLowerCase().indexOf(this.searchTerm.toLowerCase()) >= 0 ||
                        v.parameters.city_of_birth.toLowerCase().indexOf(this.searchTerm.toLowerCase()) >= 0 ||
                        v.event.toLowerCase().indexOf(this.searchTerm.toLowerCase()) >= 0
                    )

                return user
            },

            setPlace(place) {
                this.address = {
                    geo: {active: true, pos: place},
                    longitude: place.geometry.location.lng(),
                    latitude: place.geometry.location.lat(),
                    address: place.formatted_address,
                };
            },
            radixChart(dateTime, place, eventInput, id) {
                this.is_loading = true;
                this.setPlace(place);

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/data/edit";

                return axios
                    .post(url, {
                        id: id,
                        parameters: JSON.stringify({
                            name: eventInput.trim(),
                            dt: dateTime,
                            lon: place.geometry.location.lng(),
                            lat: place.geometry.location.lat(),
                            event: eventInput.trim(),
                            city_of_birth: this.address.address
                        })
                    })
                    .then(() => {
                        this.is_loading = false;
                        this.edit_id = null;
                        this.loadHistory()
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            antagonistProtagonist(name1, name2, dateTime, id) {
                this.is_loading = true;

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/data/edit";

                return axios
                    .post(url, {
                        id: id,
                        parameters: JSON.stringify({
                            datetime: dateTime,
                            name1: name1.trim(),
                            name2: name2.trim()
                        })
                    })
                    .then(() => {
                        this.is_loading = false;
                        this.edit_id = null;
                        this.loadHistory()
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            momentRanking(from_dt, to_dt, place, id) {
                this.is_loading = true;
                this.setPlace(place);

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/data/edit";

                return axios
                    .post(url, {
                        id: id,
                        parameters: JSON.stringify({
                            from: from_dt,
                            to: to_dt,
                            lon: place.geometry.location.lng(),
                            lat: place.geometry.location.lat(),
                            city: this.address.address
                        })
                    })
                    .then(() => {
                        this.is_loading = false;
                        this.edit_id = null;
                        this.loadHistory()
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            transitsPage(event, from_dt, to_dt, id) {
                this.is_loading = true;

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/data/edit";

                return axios
                    .post(url, {
                        id: id,
                        parameters: JSON.stringify({
                            from: from_dt,
                            to: to_dt,
                            event: event
                        })
                    })
                    .then(() => {
                        this.is_loading = false;
                        this.edit_id = null;
                        this.loadHistory()
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            deleteRequest(id) {
                const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/full_history/delete`;

                axios
                    .get(url, {
                        params: {
                            id: id,
                        }
                    })
                    .then(response => response.data)
                    .then(data => {
                        this.loadHistory();
                    })
                    .catch(e => console.log(e))
            },
            openChart(dt, event, lat, lon, city) {
                this.$router.push({
                    path: '/', query: {
                        dt: dt,
                        event: event,
                        lat: lat,
                        lon: lon,
                        city: city,
                    }
                })
            }
        },
        watch: {
            '$route.path'(val) {
                if (val == '/data') {
                    this.loadHistory();

                }
            }
        },
        created() {
            const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/events/all`;
            axios
                .get(url)
                .then(response => response.data)
                .then(data => {
                    this.events = data;
                })
                .catch(e => console.log(e));
            this.loadHistory();

        },
        mounted() {
            this.loadFullHistory();
        }
    };
</script>

<style lang="scss" scoped>


    .pagination-group {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: 50px;


        .pagination {
            max-width: 400px;
            flex: 1;

            /deep/ .pagination-link {
                &.is-current {
                    color: #363636;
                }

                color: #fff;
            }
        }

        .per-page {
            width: 6rem;
            display: flex;
            flex-direction: column;
        }
    }

    .top-pagination-group {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: 50px;
        top: 85px;
        max-width: 350px;


        .pagination {
            max-width: 350px;
            flex: 1;

            /deep/ .pagination-link {
                &.is-current {
                    color: #363636;
                }

                color: #fff;
            }
        }

        .per-page {
            width: 6rem;
            display: flex;
            flex-direction: column;
        }
    }

    .date_width {
        width: 180px;
    }

    .search {
        color: #fff;
        border-bottom: 1px solid #fff;

    }

    .table {
        min-width: 98%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -40px;
    }

    .search-form {
        width: 480px;
        margin-left: 2rem;
        top: -40px;

    }

    @media (max-width: 840px) {
        .search-form {
            width: 300px;
        }
    }

    .search-label {
        color: #fff;
    }

    .searchBtn {
        margin-top: -10px;
    }

    .but {
        cursor: pointer;
    }

    .btn-color:hover {
        color: #e1e1e1;
    }

    .fade-enter-active {
        transition: opacity 3s;
    }

    .fade-enter {
        opacity: 0;
    }

    .slide-enter-active {
        transition: all 1s ease;
    }

    .slide-enter, .slide-leave-to {

        zoom: 0;
        opacity: 0;
    }
</style>