<template>
  <section>
    <div class="table-wrapper">
      <table 
        class="table is-striped is-narrow is-hoverable is-fullwidth"
      >
        <thead>
          <tr>
            <th>Request date (utc)</th>
            <th>IP</th>
            <th>Place</th>
            <th>Event</th>
            <th>Dt</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            v-for="(item, i) in queries"
            :key="`${item.date}-${i}`"
          >
            <td class="date_width">{{ formatDate(item.date) }}</td>
            <td>{{ item.ip }}</td>
            <td>{{ item.place }}</td>
            <td>{{ item.event }}</td>
            <td class="date_width">{{ formatDate(item.dt) }}</td>
          </tr>
        </tbody>
        <b-loading 
          :is-full-page="false"
          :active.sync="isLoading" 
          class="table-preloader"
        />
      </table>
    </div>



    <div class="pagination-group">
      <b-pagination
        :total="totalItems"
        :current.sync="current"
        :per-page="perPage"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
        @change="changePage"
        class="pagination"
      />
      <!-- <b-field class="per-page">
        <b-input type="number" v-model="perPage"></b-input>
        <label for="">per page</label>
      </b-field> -->
    </div>
  </section>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "home",
  data() {
    return {
      totalItems: 100,
      current: 1,
      perPage: 10,
      queries: [],
      isLoading: false, 
    }
  },
  methods: {
    changePage(value) {
      this.current = value;
      this.loadHistory();
    },
    formatDate(date) {
      return moment.unix(date).utc().format('DD.MM.YYYY HH:mm');
    },
    loadHistory(current = this.current, perPage = this.perPage) {
      const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/history`
      
      this.isLoading = true;
      axios
        .get(url, {
          params: {
            current_page: current,
            per_page: perPage,
          }
        })
        .then(response => response.data)
        .then(data => {
          this.queries = data.items;
          this.totalItems = data.total_items;
          this.isLoading = false;
        })
        .catch(e => console.log(e))
    }
  },
  watch: {
    '$route.path'(val) {
      if(val == '/history') {
        this.loadHistory();
      }
    }
  },
  mounted() {
    this.loadHistory();
  },
};
</script>

<style lang="scss" scoped>
.table-wrapper{
  position: relative;
}

.pagination-group {
  display: flex;
  align-items: flex-start;

  .pagination {
    flex: 1;

    /deep/ .pagination-link {
      &.is-current {
        color: #363636;
      }
      color: #fff;
    }
  }
  .per-page {
    width: 6rem;
    display: flex;
    flex-direction: column;
  }
}
.date_width {
  width: 180px;
}
</style>
