<template>
  <div>

    <div class="home columns is-multiline is-centered">
      <div class="column is-5 is-8-mobile is-offset-2-mobile">
        <div class="is-sub-row">
          <h3 class="subtitle">Choose aspect type:</h3>
          <b-select :disabled="is_loading" v-model="aspect_type" placeholder="Choose aspect type" expanded>
            <option
                    v-for="type in aspect_types"
                    :value="type"
                    :key="type">
              {{ type }}
            </option>
            <option
                    :value="'in house'"
                    :key="'in house'">
              in house
            </option>
            <option
                    :value="'in interval'"
                    :key="'in interval'">
              in interval
            </option>
          </b-select>
        </div>
        <intervals-form
                v-if="aspect_types.includes(aspect_type) || aspect_type === 'in house'"
                :reference_planets="aspect_type !== 'in house'"
                :isLoading="is_loading"
                :aspect_type="aspect_type"
                @send-form="getResponse"
                ref="astroForm"
        />
        <raw-intervals-form
                v-if="aspect_type === 'in interval'"
                :isLoading="is_loading"
                :aspect_type="aspect_type"
                @send-form="getResponse"
                ref="astroForm"
        />
      </div>
    </div>

    <div class="columns is-multiline is-centered">
      <div class="column is-4">
        <table id="intervals_table" class="table is-narrow is-hoverable is-fullwidth">
          <template v-if="intervals && is_loaded">
            <thead>
            <tr>
              <th>lower</th>
              <th>upper</th>
            </tr>
            </thead>
            <tbody>
            <tr
                    v-for="interval in intervals"
                    :key="`${interval}`"
            >
              <td>
                {{interval.lower | timestampToDate}}
              </td>
              <td>
                {{interval.upper | timestampToDate}}
              </td>
            </tr>
            </tbody>
          </template>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import moment from "moment";

  import {scroller} from 'vue-scrollto/src/scrollTo';
  import getTopCoord from '@/plugins/lib';

  import {mapActions, mapState} from 'vuex';
  import IntervalsForm from "../components/IntervalsForm";
  import RawIntervalsForm from "../components/RawIntervalsForm";

  export default {
    name: "intervals",
    components: {
      IntervalsForm,
      RawIntervalsForm,
    },
    data() {
      return {
        aspect_types: [
          'conjuncts', 'squares', 'trines', 'oppositions', 'quincunxes', 'sextiles'
        ],
        aspect_type: 'conjuncts',
        intervals: [],
        is_loaded: false,
        is_loading: false,
        response_errors: [],
      };
    },
    computed: {
      ...mapState(["data_is_loaded"])
    },
    methods: {
      ...mapActions(["setIsLoadedParam"]),
      getResponse(aspect_type, object, reference, dateTime, duration, searches_per_day, tolerance) {
        this.is_loading = true;

        const url = `https://priv.astro.sol-ra.com:5000`;

        let query = null;
        if (reference.name) {
          query = `${url}/api/v1.0/intervals?aspect_type=${aspect_type}&object_name=${object.name}&object_lat=${object.place.geometry.location.lat()}&object_lon=${object.place.geometry.location.lng()}&reference_name=${reference.name}&reference_lat=${reference.place.geometry.location.lat()}&reference_lon=${reference.place.geometry.location.lng()}&begin=${dateTime}&duration=${duration}&searches_per_day=${searches_per_day}&tolerance=${tolerance}`;
        } else {
          query = `${url}/api/v1.0/intervals?aspect_type=${aspect_type}&object_name=${object.name}&object_lat=${object.place.geometry.location.lat()}&object_lon=${object.place.geometry.location.lng()}&reference_from=${reference.from}&reference_to=${reference.to}&begin=${dateTime}&duration=${duration}&searches_per_day=${searches_per_day}&tolerance=${tolerance}`;
        }

        axios
                .get(query)
                .then(response => {
                  response = response.data;
                  this.intervals = response;

                  console.log(this.intervals)
                })
                .then(() => {
                  this.is_loaded = true;
                  this.is_loading = false;
                  this.setIsLoadedParam(true);
                  this.scrollToElem('#intervals_table', undefined, {
                    offset: -60,
                  });
                })
                .catch(e => {
                  this.response_errors.push(e);
                });
      },
      scrollToElem(elem, duration, options) {
        const scrollTo = scroller();
        scrollTo(elem, duration, options)
      },
    },
  };
</script>

<style scoped lang="scss">
  .is-readings-mobile{
    overflow-x: scroll;
    margin-bottom: 1rem;
    @media(max-width: 768px) {
      margin: 0 3rem;
    }
  }
</style>
