<template>
    <div>
        <md-field class="search-form">
            <label class="search-label">Search by name...</label>
            <md-input v-model="searchTerm" class="search"></md-input>
        </md-field>
        <div class="container">
                 <sorted-table class="table" :values="filteredData()"
                              ascIcon="<span>
                              <svg style='width:15px;height:15px' viewBox='0 0 24 24'>
                                <path fill='#000000' d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' />
                               </svg>
                                </span>"
                              descIcon="<span>
                                  <svg style='width:15px;height:15px' viewBox='0 0 24 24'>
                                   <path fill='#000000' d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' />
                                    </svg>
                                   </span>"
                >

                    <thead>

                    <tr>
                        <th scope="col" style="text-align: left; width: 15rem;">
                            <sort-link name="name">Name</sort-link>
                        </th>
                        <th scope="col" style="text-align: left; width: 15rem;">
                            <sort-link name="dt">Date</sort-link>
                        </th>
                        <th scope="col" style="text-align: left; width: 15rem;">
                            <sort-link name="city_of_birth">Location</sort-link>
                        </th>
                        <th scope="col" style="text-align: left; width: 15rem;">
                            <sort-link name="date">Request date</sort-link>
                        </th>
                        <th scope="col" style="text-align: left; width: .5rem;">
                            <sort-link name="chart">Edit Chart</sort-link>
                        </th>
                        <th scope="col" style="text-align: left; width: .5rem;">
                            <sort-link name="edit">Edit Data</sort-link>
                        </th>
                        <th scope="col" style="text-align: left; width: .5rem;">
                            <sort-link name="remove">Remove</sort-link>
                        </th>
                        <th scope="col" style="text-align: left; width: .5rem;">
                            <sort-link name="add">Add to template</sort-link>
                        </th>
                    </tr>
                    </thead>


                    <tbody slot="body" slot-scope="sort">

                    <tr
                            v-for="item in sort.values"
                            :key="item.id"
                    >
                        <td @click.self="showItem(item.id)">{{ item.name}}</td>

                        <td v-if="showInfo">{{item.dt|
                            autoFormat}}
                        </td>
                        <td v-if="showInfo">{{ item.city_of_birth}}</td>
                        <td v-if="showInfo">
                            <p v-if="item.id !== edit_id && !['lat', 'lon'].includes(key)">{{ item.date| autoFormat
                                }}</p>
                            <transition name="slide">
                                <direct-astro-form v-if="(item.event === 'main') && item.id === edit_id"
                                                   :isLoading="is_loading"
                                                   :e_id="item.id"
                                                   :e_eventInput="item.parameters.event"
                                                   :e_type="item.parameters.event"
                                                   :e_dateTime="item.parameters.dt"
                                                   :e_place="{
                                                geometry: {
                                                  location: {
                                                    lng: function () {
                                                      return item.parameters.lon;
                                                    },
                                                    lat: function () {
                                                      return item.parameters.lat;
                                                    },
                                                  }
                                                },
                                                name: item.parameters.city_of_birth,
                                                formatted_address: item.parameters.city_of_birth,
                                                address_components: [{'long_name':'','short_name':'','types':['country','political']}]
                                             }"
                                                   @send-form="radixChart"
                                                   ref="directastroForm"/>

                                <antagonist-protagonist-form v-if="(item.event === 'ant_prot') && item.id === edit_id"
                                                             :isLoading="is_loading"
                                                             :e_id="item.id"
                                                             :e_dateTime="item.parameters.datetime"
                                                             :e_name1="item.parameters.name1"
                                                             :e_name2="item.parameters.name2"
                                                             @send-form="antagonistProtagonist"
                                                             ref="apForm"
                                                             :events="events"/>
                                <aspects-form v-if="(item.event === 'moments_ranking') && item.id === edit_id"
                                              :isLoading="is_loading"
                                              :e_id="item.id"
                                              :e_place="{
                                                geometry: {
                                                  location: {
                                                    lng: function () {
                                                      return item.parameters.lon;
                                                    },
                                                    lat: function () {
                                                      return item.parameters.lat;
                                                    },
                                                  }
                                                },
                                                name: item.parameters.city,
                                                formatted_address: item.parameters.city,
                                                address_components: [{'long_name':'','short_name':'','types':['country','political']}]
                                             }"
                                              :e_from_dateTime="item.parameters.from"
                                              :e_to_dateTime="item.parameters.to"
                                              @send-form="momentRanking"
                                              ref="astroForm"/>
                                <transits-form v-if="(item.event === 'transits') && item.id === edit_id"
                                               :isLoading="is_loading"
                                               :e_id="item.id"
                                               :e_event="item.parameters.event"
                                               :e_from_dateTime="item.parameters.from"
                                               :e_to_dateTime="item.parameters.to"
                                               @send-form="transitsPage"
                                               ref="astroForm"
                                />
                            </transition>
                        </td>
                        <td v-if="showInfo">
                            <div class="but"
                                 @click="openChart(item.parameters.dt, item.parameters.event, item.parameters.lat, item.parameters.lon, formatCity(item.parameters))">
                                <svg class="btn-color" style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#bbbbbb"
                                          d="M11,2V22C5.9,21.5 2,17.2 2,12C2,6.8 5.9,2.5 11,2M13,2V11H22C21.5,6.2 17.8,2.5 13,2M13,13V22C17.7,21.5 21.5,17.8 22,13H13Z"/>
                                </svg>
                            </div>
                        </td>
                        <td v-if="showInfo">
                            <div class="but" v-if="edit_id !== item.id"
                                 @click="edit_id = item.id">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#bbbbbb"
                                          d="M8,12H16V14H8V12M10,20H6V4H13V9H18V12.1L20,10.1V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H10V20M8,18H12.1L13,17.1V16H8V18M20.2,13C20.3,13 20.5,13.1 20.6,13.2L21.9,14.5C22.1,14.7 22.1,15.1 21.9,15.3L20.9,16.3L18.8,14.2L19.8,13.2C19.9,13.1 20,13 20.2,13M20.2,16.9L14.1,23H12V20.9L18.1,14.8L20.2,16.9Z"/>
                                </svg>
                            </div>
                            <div class="but"
                                 v-if=" edit_id=== item.id"
                                 @click="edit_id = null">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#bbbbbb"
                                          d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z"/>
                                </svg>
                            </div>
                        </td>
                        <td v-if="showInfo">
                            <div class="but"
                                 @click="deleteRequest(item.id)">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#bbbbbb"
                                          d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                </svg>
                            </div>
                        </td>
                        <td v-if="showInfo">
                            <div class="but"
                                 @click="addedToPattern(item.id)">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#2bb866"
                                          d="M12.35 20H10V17H12.09C12.21 16.28 12.46 15.61 12.81 15H10V12H14V13.54C14.58 13 15.25 12.61 16 12.35V12H20V12.35C20.75 12.61 21.42 13 22 13.54V5C22 3.9 21.1 3 20 3H4C2.9 3 2 3.9 2 5V20C2 21.1 2.9 22 4 22H13.54C13 21.42 12.61 20.75 12.35 20M16 7H20V10H16V7M10 7H14V10H10V7M8 20H4V17H8V20M8 15H4V12H8V15M8 10H4V7H8V10M17 14H19V17H22V19H19V22H17V19H14V17H17V14"/>
                                </svg>
                            </div>
                        </td>

                    </tr>
                    </tbody>

                </sorted-table>
                <div class="add-template col-5">
                    <svg @click="showModal = true" class="plus-icon" style="width:48px;height:48px" viewBox="0 0 24 24">
                        <path fill="#2bb866"
                              d="M13 3V11H21V3H13M3 21H11V13H3V21M3 3V11H11V3H3M13 16H16V13H18V16H21V18H18V21H16V18H13V16Z"/>
                    </svg>
                    <h5 style="color: #2bb866; font-weight:500">Press '+' to create new template</h5>
                </div>
         </div>



        <div id="app">
            <modal v-if="showModal" @close="getModal">
                <h3 slot="header" style="color: #2bb866;">TEMPLATE NAME:</h3>
            </modal>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import moment from "moment";
    import TransitsForm from "@/components/TransitsForm";
    import AspectsForm from "@/components/AspectsForm";
    import DirectAstroForm from "@/components/DirectAstroForm";
    import AntagonistProtagonistForm from "@/components/AntagonistProtagonistForm";
    import Modal from '@/components/ModalPatternName';


    export default {
        name: "login-admin",
        components: {
            TransitsForm,
            AspectsForm,
            DirectAstroForm,
            AntagonistProtagonistForm,
            Modal,
        },
        data() {
            return {
                edit_id: null,
                is_loading: false,
                address: Object,
                totalItems: 100,
                current: 1,
                perPage: 20,
                values: [],
                findedValues: [],
                searchTerm: '',
                events: [],
                values:[],
                patterns: {},
                nameOfKey:'',
                isLoading: false,
                showInfo: false,
                showModal: false,

            }
        },
        methods: {

            getModal(value){
                this.showModal=!this.showModal;
               this.patterns = value;
                console.log( this.patterns)

            },
            changePage(value) {
                this.current = value;
                this.searchTerm = null;
                this.loadHistory();

            },
            formatDate(date) {
                return moment.unix(date).format('DD.MM.YYYY HH:mm');
            },
            formatCity(item) {
                if (typeof item.city_of_birth === 'undefined')
                    return `${item.lat},${item.lon}`;
                else return item.city_of_birth;
            },
            showItem(item) {
                this.showInfo = !this.showInfo;
                this.findedValues = this.values.find(item => item.id)
                console.log(this.findedValues)
            },
            addedToPattern(item) {
                this.patterns.push(this.values.find(item => item.id))
                console.log(this.patterns)
            },
            loadHistory(current = this.current, perPage = this.perPage) {
                const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/get_full_history`;
                this.isLoading = true;
                axios
                    .get(url, {
                        params: {
                            current_page: current,
                            per_page: perPage,
                        }
                    })
                    .then(response => response.data)
                    .then(data => {
                        this.values = data.items;
                        console.log(this.values)
                        this.totalItems = data.total_items;
                        this.isLoading = false
                        let arr = [];
                        for (let val of this.values) {
                            if (val.parameters) {
                                arr.push(Object.assign(val, val.parameters))
                            }
                        }
                        for (let val of this.values) {
                            if (val.name) {
                                val.name = val.name[0].toUpperCase() + val.name.slice(1)
                            }
                            if (val.event) {
                                val.event = 'main'
                            }
                        }
                    })
                    .catch(e => console.log(e))
            },

            filteredData() {
                let user = this.values;
                if (this.searchTerm)
                    user = user.filter(v => v.name.toLowerCase().indexOf(this.searchTerm.toLowerCase()) >= 0)
                return user
            },


            setPlace(place) {
                this.address = {
                    geo: {active: true, pos: place},
                    longitude: place.geometry.location.lng(),
                    latitude: place.geometry.location.lat(),
                    address: place.formatted_address,
                };
            },
            radixChart(dateTime, place, eventInput, id) {
                this.is_loading = true;
                this.setPlace(place);

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/data/edit";

                return axios
                    .post(url, {
                        id: id,
                        parameters: JSON.stringify({
                            name: eventInput.trim(),
                            dt: dateTime,
                            lon: place.geometry.location.lng(),
                            lat: place.geometry.location.lat(),
                            event: eventInput.trim(),
                            city_of_birth: this.address.address
                        })
                    })
                    .then(() => {
                        this.is_loading = false;
                        this.edit_id = null;

                        this.loadHistory()
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            antagonistProtagonist(name1, name2, dateTime, id) {
                this.is_loading = true;

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/data/edit";

                return axios
                    .post(url, {
                        id: id,
                        parameters: JSON.stringify({
                            datetime: dateTime,
                            name1: name1.trim(),
                            name2: name2.trim()
                        })
                    })
                    .then(() => {
                        this.is_loading = false;
                        this.edit_id = null;
                        this.loadHistory()
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            momentRanking(from_dt, to_dt, place, id) {
                this.is_loading = true;
                this.setPlace(place);

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/data/edit";

                return axios
                    .post(url, {
                        id: id,
                        parameters: JSON.stringify({
                            from: from_dt,
                            to: to_dt,
                            lon: place.geometry.location.lng(),
                            lat: place.geometry.location.lat(),
                            city: this.address.address
                        })
                    })
                    .then(() => {
                        this.is_loading = false;
                        this.edit_id = null;
                        this.loadHistory()
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            transitsPage(event, from_dt, to_dt, id) {
                this.is_loading = true;

                const url = "https://priv.astro.sol-ra.com:5000/api/v1.0/data/edit";

                return axios
                    .post(url, {
                        id: id,
                        parameters: JSON.stringify({
                            from: from_dt,
                            to: to_dt,
                            event: event
                        })
                    })
                    .then(() => {
                        this.is_loading = false;
                        this.edit_id = null;
                        this.loadHistory()
                    })
                    .catch(e => {
                        this.response_errors.push(e);
                    });
            },
            deleteRequest(id) {
                const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/full_history/delete`;

                axios
                    .get(url, {
                        params: {
                            id: id,
                        }
                    })
                    .then(response => response.data)
                    .then(data => {
                        this.loadHistory();
                    })
                    .catch(e => console.log(e))
            },
            openChart(dt, event, lat, lon, city) {
                this.$router.push({
                    path: '/', query: {
                        dt: dt,
                        event: event,
                        lat: lat,
                        lon: lon,
                        city: city,
                    }
                })
            }
        },
        watch: {
            '$route.path'(val) {
                if (val == '/data') {
                    this.loadHistory();
                }
            }
        },
        mounted() {
            const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/events/all`;

            axios
                .get(url)
                .then(response => response.data)
                .then(data => {
                    this.events = data;
                    /*     console.log(this.events);*/
                })
                .catch(e => console.log(e));
            this.loadHistory();
        },
    };
</script>

<style lang="scss" scoped>
    .container{
        display:flex;
        flex-direction:row;

    }


    .date_width {
        width: 180px;
    }

    .search {
        color: #fff;
        border-bottom: 1px solid #fff;

    }

    .table {
        width: 70%;
        margin-left: 1rem;
        margin-top: -40px;
    }
    .add-template{
        margin-left: 5rem;
        right: 40px;
        position: absolute;

    }
    .plus-icon:hover{
        cursor:pointer;
        zoom:1.1;
    }

    .search-form {
        width: 480px;
        margin-left: 2rem;
        top: -40px;

    }

    @media (max-width: 840px) {
        .search-form {
            width: 300px;
        }
    }

    .search-label {
        color: #fff;
    }

    .but {
        cursor: pointer;
    }

    .btn-color:hover {
        color: #e1e1e1;
    }

    .slide-enter-active {
        transition: all .5s ease;
    }

    .slide-enter, .slide-leave-to {
        transform: translateY(-20px);
        opacity: 0;
    }


    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }


    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }


    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>