<template>
  <div>
    <div class="home columns is-multiline is-centered">
      <div class="column is-5 is-8-mobile is-offset-2-mobile">
        <aspects-form
          :isLoading="is_loading" 
          @send-form="getResponse" 
          ref="astroForm"
        />
      </div>
    </div>

    <div class="columns is-multiline is-centered">
      <div class="column is-4">
        <table id="points_table" class="table is-narrow is-hoverable is-fullwidth">
          <template v-if="total_points && is_loaded">
            <thead>
            <tr>
              <th @click="dateSort()">Date/time
                <span class="icon is-small is-left" v-if="sorting.date === -1">
                  <i class="fas fa-arrow-up fa-lg"></i>
                </span>
                <span class="icon is-small is-left" v-if="sorting.date === 1">
                  <i class="fas fa-arrow-down fa-lg"></i>
                </span>
              </th>
              <th @click="valueSort()">Total point
                <span class="icon is-small is-left" v-if="sorting.value === -1">
                  <i class="fas fa-arrow-up fa-lg"></i>
                </span>
                <span class="icon is-small is-left" v-if="sorting.value === 1">
                  <i class="fas fa-arrow-down fa-lg"></i>
                </span>
              </th>
              <th>View Chart</th>
            </tr>
            </thead>
            <tbody>
            <tr
                    v-for="(tp, i) in total_points"
                    :key="`${i}`"
            >
              <td>{{ tp.dt | timestampToDate }}</td>
              <td>{{ tp.total }}</td>
              <td>
                <b-button type="is-success"
                          icon-left="chart-pie"
                          @click="openChart(tp.dt, event.name, event.coordinates_of_birth.lat, event.coordinates_of_birth.lon, event.city_of_birth)"></b-button>
              </td>
            </tr>
            </tbody>
          </template>
        </table>
      </div>
    </div>

<!--    <div class="columns is-multiline is-centered">-->
<!--      <table id="aspects_table" class="table is-narrow is-hoverable is-fullwidth">-->
<!--        <template v-if="aspects && aspects.length && is_loaded">-->
<!--          <thead>-->
<!--            <tr>-->
<!--              <th>#</th>-->
<!--              <th>Aspects</th>-->
<!--              <th>Start</th>-->
<!--              <th>Exact</th>-->
<!--              <th>Diff</th>-->
<!--              <th>Finish</th>-->
<!--            </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--            <tr-->
<!--              v-for="(aspect, i) in aspects"-->
<!--              :key="`${aspects[i].start} - ${i}`"-->
<!--            >-->
<!--              <td>{{ i }}</td>-->
<!--              <td>{{ aspect.label }}</td>-->
<!--              <td>{{ aspect.formatted_dates.start }}</td>-->
<!--              <td>{{ aspect.formatted_dates.exact }}</td>-->
<!--              <td>{{ aspect.min_diff | formatDegree }}</td>-->
<!--              <td>{{ aspect.formatted_dates.finish }}</td>-->
<!--            </tr>-->
<!--          </tbody>-->
<!--        </template>-->
<!--      </table>-->
<!--    </div>-->
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

import {scroller} from 'vue-scrollto/src/scrollTo';
import getTopCoord from '@/plugins/lib';

import {mapActions, mapState} from 'vuex';
import AspectsForm from "../components/AspectsForm";

export default {
  name: "aspects",
  components: {
    AspectsForm,
  },
  data() {
    return {
      sorting: {
        date: 1,
        value: 0
      },
      event: {},
      address: {},
      total_points: {},
      aspects: Object,
      is_loaded: false,
      is_loading: false,
      response_errors: [],
    };
  },
  computed: {
    ...mapState(["data_is_loaded"])
  },
  methods: {
    ...mapActions(["setIsLoadedParam"]),
    applySort() {
      if (this.sorting.date !== 0)
        this.total_points = this.total_points.sort((val1, val2) => {
          if (val1.dt < val2.dt)
            return -this.sorting.date;
          if (val1.dt > val2.dt)
            return this.sorting.date;
          return 0;
        });
      if (this.sorting.value !== 0)
        this.total_points = this.total_points.sort((val1, val2) => {
          if (val1.total < val2.total)
            return -this.sorting.value;
          if (val1.total > val2.total)
            return this.sorting.value;
          return 0;
        });
    },
    dateSort() {
      if (this.sorting.date === 0)
        this.sorting.date = 1;
      else this.sorting.date *= -1;
      this.sorting.value = 0;
      this.applySort();
    },
    valueSort() {
      if (this.sorting.value === 0)
        this.sorting.value = 1;
      else this.sorting.value *= -1;
      this.sorting.date = 0;
      this.applySort();
    },
    setPlace(place) {
      this.address = {
        geo: { active: true, pos: place },
        longitude: place.geometry.location.lng(),
        latitude: place.geometry.location.lat(),
        address: place.formatted_address,
        short_name: place.address_components.find(el => el.short_name)
                .short_name,
        country: place.address_components.find(el => el.types.includes('country'))
                .long_name,
      };
    },
    getResponse(from_dateTime, to_dateTime, place, id) {
      this.setPlace(place);
      this.is_loading = true;
      this.from_dateTime = from_dateTime;
      this.to_dateTime = to_dateTime;

      const url = `https://priv.astro.sol-ra.com:5000`;

      const query = `${url}/api/v1.0/moments_ranking?from=${from_dateTime}&to=${to_dateTime}&city=${this.address.address}&lon=${this.address.longitude}&lat=${this.address.latitude}`;

      axios
        .get(query)
        .then(response => {
          function compare(a,b) {
            if (a.start < b.start)
              return -1;
            if (a.start > b.start)
              return 1;
            return 0;
          }

          response = response.data;
          // this.aspects = response.events.sort(compare);

          this.event = response.event;
          this.total_points = response.total_points;

          console.log(this.total_points)
        })
        .then(() => {
          this.is_loaded = true;
          this.is_loading = false;
          this.setIsLoadedParam(true);
          this.scrollToElem('#points_table', undefined, {
            offset: -60,
          });
        })
        .catch(e => {
          this.response_errors.push(e);
        });
    },
    scrollToElem(elem, duration, options) {
      const scrollTo = scroller()
      scrollTo(elem, duration, options)
    },
    openChart(dt, event, lat, lon, city) {
      this.$router.push({path: '/', query: {
          dt: dt,
          event: event,
          lat: lat,
          lon: lon,
          city: city,
        } })
    }
  },
};
</script>

<style scoped lang="scss">
  .is-readings-mobile{
    overflow-x: scroll;
    margin-bottom: 1rem;
    @media(max-width: 768px) {
      margin: 0 3rem;
    }
  }
</style>
