<template>
  <div>
    <div class="home columns is-multiline is-centered">
      <div class="column is-5 is-8-mobile is-offset-2-mobile">
        <transits-form
          :isLoading="is_loading" 
          @send-form="getResponse" 
          ref="astroForm"
        />
      </div>
    </div>

    <div class="columns is-multiline is-centered" v-if="points && is_loaded">
      <h3 class="subtitle">Points:</h3>
      <table id="points_table" class="table is-narrow is-hoverable is-fullwidth">
        <template v-if="points && is_loaded">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(point, i) in points"
              :key="`${i}`"
            >
              <td>{{ i }}</td>
              <td>{{ point.name }}</td>
              <td v-if="point.pos.longitude">{{ point.pos.longitude | formatDegreeZodiac }}</td>
              <td v-if="!point.pos.longitude">{{ point.pos[0] | formatDegreeZodiac }}</td>
            </tr>
          </tbody>
        </template>
      </table>
    </div>

    <div class="home columns is-multiline is-centered">
      <b-collapse
              aria-id="contentIdForA11y2"
              class="panel"
              v-if="is_loaded"
              :open="false">
        <div
                slot="trigger"
                class="panel-heading"
                role="button"
                aria-controls="contentIdForA11y2">
          <strong>Filters</strong>
        </div>
        <div class="panel-block">
          <table class="table is-hoverable is-fullwidth readings-table fixed_headers">
            <thead>
            <tr>
              <th class="has-text-centered"></th>
              <th class="has-text-centered"></th>
              <th class="has-text-centered"></th>
              <th class="has-text-centered">
                Show all
              </th>
              <th class="has-text-centered" v-for="(object, i) in objects">
                {{object}}
              </th>
            </tr>
            <tr>
              <th class="has-text-centered"></th>
              <th class="has-text-centered"></th>
              <th class="has-text-centered"></th>
              <th class="has-text-centered">
                <div class="field">
                  <b-checkbox @change.native="showEverything($event.target.checked)" :indeterminate="aggregateAll() == null" :value="aggregateAll()"></b-checkbox>
                </div>
              </th>
              <th class="has-text-centered" v-for="(object, i) in objects">
                <div class="field">
                  <b-checkbox @change.native="showAllTransits(object, $event.target.checked)" :indeterminate="aggregateColumn(object) == null" :value="aggregateColumn(object)"></b-checkbox>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(transit_type, transit_id) in transit_types">
              <td class="has-text-centered">{{transit_type.name}}</td>
              <td class="has-text-centered">{{transit_type.aspect}}</td>
              <td class="has-text-centered">{{transit_type.type}}</td>
              <td class="has-text-centered">
                <div class="field">
                  <b-checkbox @change.native="showAllObjects(transit_type, $event.target.checked)" :indeterminate="aggregateRow(transit_type) == null" :value="aggregateRow(transit_type)"></b-checkbox>
                </div>
              </td>
              <td class="has-text-centered" v-for="(object, i) in objects" :key="i">
                <div class="field">
                  <b-checkbox @change.native="updateTable" v-model="filter[object][transit_type.id]" :value="filter[object][transit_type.id]"></b-checkbox>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </b-collapse>

    </div>

    <div class="columns is-multiline is-centered" v-if="transits && is_loaded">
      <h3 class="subtitle">Transits:</h3>
      <table id="transits_table" class="table is-narrow is-hoverable is-fullwidth">
        <template v-if="transits && is_loaded">
          <thead>
            <tr>
              <th>#</th>
              <th>Date & time</th>
              <th>Transit</th>
              <th>Aspect</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody :key="transitsTableKey">
            <tr
              v-for="(transit, i) in transits"
              :key="`transit${i}${transitsTableKey}`"
              v-if="filter[transit.object][transit.id]"
            >
              <td>{{ i }}</td>
              <td>{{ transit.datetime }}</td>
              <td>{{ transit.label }}</td>
              <td>{{ transit.aspect }}</td>
              <td>{{ transit.type }}</td>
            </tr>
          </tbody>
        </template>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

import {scroller} from 'vue-scrollto/src/scrollTo';
import getTopCoord from '@/plugins/lib';

import {mapActions, mapState} from 'vuex';
import AspectsForm from "../components/AspectsForm";
import TransitsForm from "../components/TransitsForm";

export default {
  name: "transits",
  components: {
    TransitsForm,
  },
  data() {
    return {
      transitsTableKey: 0,
      address: {},
      transits: [],
      points: [],
      is_loaded: false,
      is_loading: false,
      response_errors: [],
      transit_types: [
        {'name': 'Neptune', 'aspect': 'conjuncts', 'type': 'bad'},
        {'name': 'Saturn', 'aspect': 'conjuncts', 'type': 'bad'},
        {'name': 'Neptune', 'aspect': 'squares', 'type': 'bad'},
        {'name': 'Saturn', 'aspect': 'squares', 'type': 'bad'},
        {'name': 'Jupiter', 'aspect': 'conjuncts', 'type': 'good'},
        {'name': 'Venus', 'aspect': 'conjuncts', 'type': 'good'},
        {'name': 'Sun', 'aspect': 'conjuncts', 'type': 'good'},
        {'name': 'Jupiter', 'aspect': 'trines', 'type': 'good'},
        {'name': 'Venus', 'aspect': 'trines', 'type': 'good'},
        {'name': 'Sun', 'aspect': 'trines', 'type': 'good'},
      ],
      objects: ['Sun', 'Jupiter', 'House2', 'MC', 'ASC'],
      filter: []
    };
  },
  computed: {
    ...mapState(["data_is_loaded"])
  },
  methods: {
    ...mapActions(["setIsLoadedParam"]),
    updateTable(event) {
      this.transitsTableKey += 1;
      console.log(this.filter);
    },
    showEverything(value) {
      this.objects.forEach(object => {
        this.transit_types.forEach(transit_type => {
          let tmp = this.filter[object];
          tmp[transit_type.id] = value;
          this.filter.splice(object, 1, tmp);
        });
      });
      // this.chartKey += 1;
    },
    showAllTransits(object, value) {
      this.transit_types.forEach(transit_type => {
        let tmp = this.filter[object];
        tmp[transit_type.id] = value;
        this.filter.splice(object, 1, tmp);
      });
      // this.chartKey += 1;
    },
    showAllObjects(transit_type, value) {
      this.objects.forEach(object => {
        let tmp = this.filter[object];
        tmp[transit_type.id] = value;
        this.filter.splice(object, 1, tmp);
      });
      // this.chartKey += 1;
    },
    aggregateAll() {
      let all_true = true;
      let all_false = true;

      this.objects.forEach(object => {
        this.transit_types.forEach(transit_type => {
          if (this.filter[object][transit_type.id]) {
            all_false = false;
          } else {
            all_true = false;
          }
        });
      });
      if (all_true)
        return true;
      else if (all_false)
        return false;
      else return null;
    },
    aggregateColumn(object) {
      let all_true = true;
      let all_false = true;

      this.transit_types.forEach(transit_type => {
        if (this.filter[object][transit_type.id]) {
          all_false = false;
        }
        else {
          all_true = false;
        }
      });
      if (all_true)
        return true;
      else if (all_false)
        return false;
      else return null;
    },
    aggregateRow(transit_type) {
      let all_true = true;
      let all_false = true;

      this.objects.forEach(object => {
        if (this.filter[object][transit_type.id]) {
          all_false = false;
        }
        else {
          all_true = false;
        }
      });
      if (all_true)
        return true;
      else if (all_false)
        return false;
      else return null;
    },
    getResponse(event, from_dateTime, to_dateTime, id) {
      this.is_loading = true;
      this.from_dateTime = from_dateTime;
      this.to_dateTime = to_dateTime;

      const url = `https://priv.astro.sol-ra.com:5000`;

      const query = `${url}/api/v1.0/event_transits?name=${event}&from=${from_dateTime}&to=${to_dateTime}`;

      axios
        .get(query)
        .then(response => {
          function compare(a,b) {
            if (a.start < b.start)
              return -1;
            if (a.start > b.start)
              return 1;
            return 0;
          }

          response = response.data;
          console.log(response);
          this.transits = response.transits.sort(compare);
          this.points = response.points;
        })
        .then(() => {
          this.is_loaded = true;
          this.is_loading = false;
          this.setIsLoadedParam(true);
          this.scrollToElem('#transits_table', undefined, {
            offset: -60,
          });
        })
        .catch(e => {
          this.response_errors.push(e);
        });
    },
    scrollToElem(elem, duration, options) {
      const scrollTo = scroller()
      scrollTo(elem, duration, options)
    }
  },
  created () {
    let transits_to_turn_off = [
      'Venusconjuncts',
      'Sunconjuncts',
      'Venustrines',
      'Suntrines',
    ];
    Object.keys(this.transit_types).forEach(i => {
      this.transit_types[i].id = this.transit_types[i].name + this.transit_types[i].aspect
    });
    this.objects.forEach(object => {
      this.filter[object] = {};
      this.transit_types.forEach(transit_type => {
        this.filter[object][transit_type.id] = !transits_to_turn_off.includes(transit_type.id);
      })
    });
    console.log(this.filter);
  },
};
</script>

<style scoped lang="scss">
  .is-readings-mobile{
    overflow-x: scroll;
    margin-bottom: 1rem;
    @media(max-width: 768px) {
      margin: 0 3rem;
    }
  }
</style>
