<template>
  <div class="additional-container">
    <p class="additional-info">Date: {{ date }}</p>
    <p class="additional-info">Location: {{ location.address }}</p>
    <p class="additional-info">
      Lon: {{ location.longitude | toFixed(2)}},
      Lat: {{ location.latitude | toFixed(2)}}
    </p>
    <p class="additional-info">TOTAL POINTS: {{ totalPoints }}</p>
  </div>
</template>

<script>
import moment from "moment"
export default {
  props: ['dateTime', 'location', 'totalPoints'],
  computed: {
    date() {
      return moment.unix(this.dateTime).utc().format('DD.MM.YYYY HH:mm')
    }
  }
}
</script>

<style lang="scss" scoped>
.additional-container{
  position: fixed;
  top: 6rem;
  color: #fff;
  text-align: left;
}

.additional-info {
  font-size: 1.2rem;
}
</style>
