<template>
  <div>
    <div class="is-sub-row">
      <h3 class="subtitle">Choose first event:</h3>
      <b-select v-model="name1" placeholder="Choose first event" expanded>
        <option
                v-for="event in events"
                :value="event.name"
                :key="event.name">
          {{ event.name }}
        </option>
      </b-select>
      <span class="has-text-danger">{{ errors.first('name1') }}</span>
    </div>
    <div class="is-sub-row">
      <h3 class="subtitle">Choose second event:</h3>
      <b-select v-model="name2" placeholder="Choose first event" expanded>
        <option
                v-for="event in events"
                :value="event.name"
                :key="event.name">
          {{ event.name }}
        </option>
      </b-select>
      <span class="has-text-danger">{{ errors.first('name2') }}</span>
    </div>

    <div class="is-sub-row">
      <h3 class="subtitle">Date and Time:</h3>
      <div class="columns">
        <div class="column is-5">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                      class="input"
                      v-model="date"
                      v-validate="'required'"
                      data-vv-name="date"
                      placeholder="DD.MM.YYYY"
                      v-mask="'##.##.####'"
              >
              <span class="icon is-small is-right is-clickable" @click="date = ''">
                <i class="fas fa-times fa-lg" @click="date = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-5">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                      class="input"
                      v-model="time"
                      v-validate="'required'"
                      data-vv-name="time"
                      placeholder="HH:mm"
                      v-mask="'##:##'"
              >
              <span class="icon is-small is-right is-clickable" @click="time = ''">
                <i class="fas fa-times fa-lg" @click="time = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-clock fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-2">
          <button
            class="button"
            @click="now"
          >Now</button>
        </div>
      </div>
    </div>

    <div class="is-sub-row">
      <button 
        class="button" 
        :class="{'is-loading': isLoading}"
        @click="sendForm"
      >Submit</button>
    </div>
  </div>
</template>

<script>
import moment from "moment";

function getDate() {
  const toTwoDigits = num => num < 10 ? '0' + num : num;
  let today = new Date();
  let year = today.getFullYear();
  let month = toTwoDigits(today.getMonth() + 1);
  let day = toTwoDigits(today.getDate());
  return `${day}.${month}.${year}`;
}

function getTime() {
  const toTwoDigits = num => num < 10 ? '0' + num : num;
  let today = new Date();
  let hours = toTwoDigits(today.getHours());
  let minutes = toTwoDigits(today.getMinutes());
  return `${hours}:${minutes}`;
}

export default {
  props: {
    e_id: null,
    e_dateTime: null,
    e_name1: '',
    e_name2: '',
    'is-loading': Boolean,
    events: Array,
  },
  data() {
    return {
      date: getDate(),
      time: getTime(),
      dateTime: null,
      name1: '',
      name2: '',
    };
  },
  watch: {
    e_id: {
      handler: "updateId",
      immediate: true
    },
    date: {
      handler: "updateDateTime",
      immediate: true
    },
    time: {
      handler: "updateDateTime",
      immediate: true
    },
  },
  methods: {
    now() {
      this.date = getDate();
      this.time = getTime();
    },
    updateId() {
      if (this.e_id && this.e_id !== '') {
        this.name1 = this.e_name1;
        this.name2 = this.e_name2;
        this.dateTime = this.e_dateTime;
        this.date = moment(this.dateTime*1000).utc().format('DD.MM.YYYY');
        this.time = moment(this.dateTime*1000).utc().format('HH:mm');
      }
    },
    updateDateTime() {
      const date = moment(this.date, ["DD-MM-YYYY"]).format("DD-MM-YYYY");
      this.dateTime = moment.utc(`${date} ${this.time}`, ["DD-MM-YYYY HH:mm"]).utc().unix();
    },
    sendForm() {
      this.$validator
        .validateAll()
        .then(is_valid => {
          if (is_valid) {
            this.$emit("send-form", this.name1, this.name2, this.dateTime, this.e_id);
          } else {
            console.log("Form isn't valid");
          }
        })
        .catch(error => {
          console.log("Form isn't valid", error);
        });
    }
  }
};
</script>

<style scoped lang="scss">

</style>
