<template>
  <div>
    <div class="is-sub-row">
      <h3 class="subtitle">Location:</h3>
      <div class="columns">
        <div class="column is-10">
          <div class="field">
            <p class="control has-icons-right">
              <gmap-autocomplete
                      type="text"
                      class="input"
                      :disabled="isLoading"
                      :value="place.name"
                      :select-first-on-enter="true"
                      @place_changed="setPlace"
              />
              <span class="icon is-small is-right is-clickable" @click="place.name = ''">
                <i class="fas fa-times fa-lg" @click="place.name = ''"></i>
              </span>
              <span
                      v-if="gmap_error"
                      class="has-text-danger"
              >The location field is required.</span>
            </p>
          </div>

        </div>
        <div class="column is-2">
          <button
                  class="button"
                  @click="setCurrentLocation"
          >Here</button>
        </div>
      </div>
    </div>

    <div class="is-sub-row">
      <h3 class="subtitle">From:</h3>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input 
                class="input" 
                v-model="from_date"
                v-validate="'required'"
                data-vv-name="date"
                placeholder="DD.MM.YYYY"
                v-mask="'##.##.####'"      
              >
              <span class="icon is-small is-right is-clickable" @click="from_date = ''">
                <i class="fas fa-times fa-lg" @click="from_date = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input 
                class="input" 
                v-model="from_time"
                v-validate="'required'"
                data-vv-name="time"
                placeholder="HH:mm"
                v-mask="'##:##'"
              >
              <span class="icon is-small is-right is-clickable" @click="from_time = ''">
                <i class="fas fa-times fa-lg" @click="from_time = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-clock fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="is-sub-row">
      <h3 class="subtitle">To:</h3>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                v-model="to_date"
                v-validate="'required'"
                data-vv-name="date"
                placeholder="DD.MM.YYYY"
                v-mask="'##.##.####'"
              >
              <span class="icon is-small is-right is-clickable" @click="to_date = ''">
                <i class="fas fa-times fa-lg" @click="to_date = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                v-model="to_time"
                v-validate="'required'"
                data-vv-name="time"
                placeholder="HH:mm"
                v-mask="'##:##'"
              >
              <span class="icon is-small is-right is-clickable" @click="to_time = ''">
                <i class="fas fa-times fa-lg" @click="to_time = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-clock fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="is-sub-row">
      <button 
        class="button" 
        :class="{'is-loading': isLoading}"
        @click="sendForm"
      >Submit</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  props: ['is-loading', 'e_id', 'e_place', 'e_from_dateTime', 'e_to_dateTime'],
  data() {
    return {
      place: {
        geometry: {
          location: {
            lng: function () {
              return 13.465559100000064;
            },
            lat: function () {
              return 52.5173072;
            },
          }
        },
        name: 'Samariterstraße, Berlin, Germany',
        formatted_address: "Samariterstraße, 10247 Berlin, Germany",
        address_components: [{"long_name":"Samariterstraße","short_name":"Samariterstraße","types":["route"]},{"long_name":"Bezirk Friedrichshain-Kreuzberg","short_name":"Bezirk Friedrichshain-Kreuzberg","types":["sublocality_level_1","sublocality","political"]},{"long_name":"Berlin","short_name":"Berlin","types":["locality","political"]},{"long_name":"Berlin","short_name":"Berlin","types":["administrative_area_level_1","political"]},{"long_name":"Germany","short_name":"DE","types":["country","political"]},{"long_name":"10247","short_name":"10247","types":["postal_code"]}]
      },
      from_date: '',
      to_date: '',
      from_time: '',
      to_time: '',
      date: '',
      time: '',
      from_dateTime: null,
      to_dateTime: null,
      eventInput: '',
      events: [],
      utc: null,
      gmap_error: false,
      utc_offset: null
    };
  },
  watch: {
    e_id: {
      handler: "updateId",
      immediate: true
    },
    from_date: {
      handler: "updateDateTime",
      immediate: true
    },
    to_date: {
      handler: "updateDateTime",
      immediate: true
    },
    from_time: {
      handler: "updateDateTime",
      immediate: true
    },
    to_time: {
      handler: "updateDateTime",
      immediate: true
    }
  },
  methods: {
    setCurrentLocation() {
      if (navigator.geolocation) {
        let showPosition = (position) => {
          const url = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&key=AIzaSyDzqmPd7D5dTVzz_GJ6vqaCMgzicAJRKcY`;

          axios
                  .get(url)
                  .then(response => response.data)
                  .then(data => {
                    if (data.results.length > 0) {
                      this.place = {
                        geometry: {
                          location: {
                            lng: function () {
                              return data.results[0].geometry.location.lng;
                            },
                            lat: function () {
                              return data.results[0].geometry.location.lat;
                            },
                          }
                        },
                        name: data.results[0].formatted_address,
                        formatted_address: data.results[0].formatted_address,
                        address_components: data.results[0].address_components
                      };
                    }
                  })
                  .catch(e => console.log(e));
        };
        navigator.geolocation.getCurrentPosition(showPosition);
      }
    },
    updateId() {
      if (this.e_id && this.e_id !== '') {
        this.from_dateTime = this.e_from_dateTime;
        this.to_dateTime = this.e_to_dateTime;
        this.from_date = moment(this.from_dateTime*1000).utc().format('DD.MM.YYYY');
        this.from_time = moment(this.from_dateTime*1000).utc().format('HH:mm');
        this.to_date = moment(this.to_dateTime*1000).utc().format('DD.MM.YYYY');
        this.to_time = moment(this.to_dateTime*1000).utc().format('HH:mm');
        this.place = this.e_place;
      }
    },
    updateDateTime() {
      const from_date = moment(this.from_date, ["DD-MM-YYYY"]).format("DD-MM-YYYY")
      const to_date = moment(this.to_date, ["DD-MM-YYYY"]).format("DD-MM-YYYY")
      this.from_dateTime = moment.utc(`${from_date} ${this.from_time}`, ["DD-MM-YYYY HH:mm"]).utc().unix();
      this.to_dateTime = moment.utc(`${to_date} ${this.to_time}`, ["DD-MM-YYYY HH:mm"]).utc().unix();
    },
    setPlace(event) {
      this.place = event;
      console.log(this.place);
      if (this.place) {
        console.log(this.place.geometry.location.lng());
        console.log(this.place.geometry.location.lat());
      }

      if(this.place) {
        this.gmap_error = false
      }
    },
    sendForm() {
      this.$validator
        .validateAll()
        .then(is_valid => {
          if (is_valid) {
            this.$emit("send-form", this.from_dateTime, this.to_dateTime, this.place, this.e_id);
          } else {
            console.log("Form isn't valid");
          }
        })
        .catch(error => {
          console.log("Form isn't valid", error);
        });
    }
  },
  mounted() {
    const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/events/all`;

    axios
            .get(url)
            .then(response => response.data)
            .then(data => {
              this.events = data;
            })
            .catch(e => console.log(e))
  }
};
</script>

<style scoped lang="scss">

</style>
