<template>
  <div>
    <div class="is-sub-row">
      <h3 class="subtitle">Choose event:</h3>
      <b-select :disabled="isLoading" v-model="eventInput" placeholder="Choose first event" expanded @change.native="hide_another">
        <option
                :value="'new'"
                :key="'new'">
          Another (fill fields below)
        </option>
        <option
                v-for="event in events"
                :value="event.name"
                :key="event.name">
          {{ event.name }}
        </option>
      </b-select>
      <span class="has-text-danger">{{ errors.first('event') }}</span>
    </div>

    <div class="is-sub-row" v-if="eventInput !== 'new'">
      <button
        class="button" 
        :class="{'is-loading': isLoading}"
        @click="sendForm"
      >Submit</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  props: ['is-loading', 'events'],
  data() {
    return {
      eventInput: "new"
    };
  },
  computed: {
    ...mapState(["data_is_loaded"]),
  },
  methods: {
    sendForm() {
      this.$validator
        .validateAll()
        .then(is_valid => {
          if (is_valid) {
            this.$emit("send-form", this.eventInput);
          } else {
            console.log("Form isn't valid");
          }
        })
        .catch(error => {
          console.log("Form isn't valid", error);
        });
    },
    hide_another() {
      this.$emit("show-creation-form", this.eventInput === 'new');
    }
  }
};
</script>

<style scoped lang="scss">
.button {
  margin-right: 1rem;
}
</style>
