<template>
  <b-collapse class="card" :open="true">
    <div
      slot="trigger" 
      slot-scope="props"
      class="card-header"
    >
      <p class="card-header-title">
        {{title}}
      </p>
      <a class="card-header-icon">
        <b-icon
          :icon="props.open ? 'caret-down' : 'caret-up'">
        </b-icon>
      </a>
    </div>
    <div class="card-content">
      <slot></slot>
    </div>
  </b-collapse>
</template>

<script>
export default {
  props: {
    title: String,
    default() {
      return 'Collapse'
    }
  }
}
</script>

<style lang="scss" scoped>
.card{
  background-color: initial;
  color: #fff;
  &-header-title{
    color: #fff;
  }
}
</style>
