<template>
  <div 
    class="content-drawer" 
    v-click-outside="closeDrawer"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: ['open'],
  data() {
    return {

    }
  },
  methods: {
    closeDrawer() {
      if(this.open){
        this.$emit('close-drawer')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
$height: 80vh;
$width: 36%;
.content-drawer {
  padding: 2rem .5rem;

  margin-top: $height / -2;
  width: $width;
  height: $height;
  overflow: auto;

  position: fixed;
  z-index: 10;
  top: 50%;
  right: 0;
  transition: all .3s;
  box-shadow: 0px 0px 3px 2px #d8d8d8;

  background: #4a4a4a;
}

@media(max-width: 768px) {
  .content-drawer { 
    margin-top: 0;
    width: 90%;
    height: 50vh;
    margin: 0 5%;
    top: auto;
    bottom: 0;
  }
}
</style>
