<template>
  <div>
    <div class="is-sub-row">
      <h3 class="subtitle">Name:</h3>
      <div class="field">
        <p class="control has-icons-right">
          <input
                  class="input"
                  type="text"
                  :disabled="isLoading"
                  placeholder="Enter name"
                  v-validate="'required'"
                  data-vv-name="event"
                  v-model="eventInput"
          >
          <span class="icon is-small is-right is-clickable" @click="eventInput = ''">
            <i class="fas fa-times fa-lg" @click="eventInput = ''"></i>
          </span>
          <span class="has-text-danger">{{ errors.first('event') }}</span>
        </p>
      </div>
    </div>
    <div class="is-sub-row">
      <h3 class="subtitle">Type:</h3>
      <div class="field">
        <p class="control has-icons-right">
          <input
                  class="input"
                  type="text"
                  :disabled="isLoading"
                  placeholder="Enter type"
                  v-validate="'required'"
                  data-vv-name="type"
                  v-model="type"
          >
          <span class="icon is-small is-right is-clickable" @click="type = ''">
            <i class="fas fa-times fa-lg" @click="type = ''"></i>
          </span>
          <span class="has-text-danger">{{ errors.first('type') }}</span>
        </p>
      </div>
    </div>
    <div class="is-sub-row">
      <h3 class="subtitle">Location:</h3>
      <div class="columns">
        <div class="column is-10">
          <div class="field">
            <p class="control has-icons-right">
              <gmap-autocomplete
                      type="text"
                      class="input"
                      :disabled="isLoading"
                      :value="place.name"
                      :select-first-on-enter="true"
                      @place_changed="setPlace"
              />
              <span class="icon is-small is-right is-clickable" @click="place.name = ''">
                <i class="fas fa-times fa-lg" @click="place.name = ''"></i>
              </span>
              <span
                      v-if="gmap_error"
                      class="has-text-danger"
              >The location field is required.</span>
            </p>
          </div>

        </div>
        <div class="column is-2">
          <button
                  class="button"
                  @click="setCurrentLocation"
          >Here</button>
        </div>
      </div>

    </div>

    <div class="is-sub-row">
      <h3 class="subtitle">Date-time:</h3>
      <div class="columns">
        <div class="column is-5">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                      class="input"
                      v-model="date"
                      :disabled="isLoading"
                      v-validate="'required'"
                      data-vv-name="date"
                      placeholder="DD.MM.YYYY"
                      v-mask="'##.##.####'"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt fa-lg"></i>
              </span>
              <span class="icon is-small is-right is-clickable" @click="date = ''">
                <i class="fas fa-times fa-lg" @click="date = ''"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-5">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                      class="input"
                      v-model="time"
                      :disabled="isLoading"
                      v-validate="'required'"
                      data-vv-name="time"
                      placeholder="HH:mm"
                      v-mask="'##:##'"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-clock fa-lg"></i>
              </span>
              <span class="icon is-small is-right is-clickable" @click="time = ''">
                <i class="fas fa-times fa-lg" @click="time = ''"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-2">
          <button
                  class="button"
                  @click="now"
          >Now</button>
        </div>
      </div>
    </div>

    <div class="is-sub-row">
      <button
              class="button"
              :class="{'is-loading': isLoading}"
              @click="sendForm"
      >Submit</button>

      <button
              v-if="data_is_loaded"
              class="button is-text"
              @click="saveRequest"
      >Save request</button>
    </div>
  </div>
</template>

<script>
  import moment from "moment";
  import axios from "axios";
  import { mapState } from 'vuex';

  export default {
    props: ['is-loading', 'e_id', 'e_eventInput', 'e_type', 'e_dateTime', 'e_place'],
    data() {
      return {
        eventInput: "",
        type: '',
        date: moment().format("DD.MM.YYYY"),
        time: moment().format("HH:mm"),
        dateTime: null,
        place: {
          geometry: {
            location: {
              lng: function () {
                return 13.465559100000064;
              },
              lat: function () {
                return 52.5173072;
              },
            }
          },
          name: 'Samariterstraße, Berlin, Germany',
          formatted_address: "Samariterstraße, 10247 Berlin, Germany",
          address_components: [{"long_name":"Samariterstraße","short_name":"Samariterstraße","types":["route"]},{"long_name":"Bezirk Friedrichshain-Kreuzberg","short_name":"Bezirk Friedrichshain-Kreuzberg","types":["sublocality_level_1","sublocality","political"]},{"long_name":"Berlin","short_name":"Berlin","types":["locality","political"]},{"long_name":"Berlin","short_name":"Berlin","types":["administrative_area_level_1","political"]},{"long_name":"Germany","short_name":"DE","types":["country","political"]},{"long_name":"10247","short_name":"10247","types":["postal_code"]}]
        },
        gmap_error: false,
        utc: null,
        utc_offset: null
      };
    },
    computed: {
      ...mapState(["data_is_loaded"]),
    },
    watch: {
      e_id: {
        handler: "updateId",
        immediate: true
      },
      date: {
        handler: "updateDateTime",
        immediate: true
      },
      time: {
        handler: "updateDateTime",
        immediate: true
      }
    },
    methods: {
      setCurrentLocation() {
        if (navigator.geolocation) {
          let showPosition = (position) => {
            const url = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&key=AIzaSyDzqmPd7D5dTVzz_GJ6vqaCMgzicAJRKcY`;

            axios
                    .get(url)
                    .then(response => response.data)
                    .then(data => {
                      if (data.results.length > 0) {
                        this.place = {
                          geometry: {
                            location: {
                              lng: function () {
                                return data.results[0].geometry.location.lng;
                              },
                              lat: function () {
                                return data.results[0].geometry.location.lat;
                              },
                            }
                          },
                          name: data.results[0].formatted_address,
                          formatted_address: data.results[0].formatted_address,
                          address_components: data.results[0].address_components
                        };
                      }
                    })
                    .catch(e => console.log(e));
          };
          navigator.geolocation.getCurrentPosition(showPosition);
        }
      },
      now() {
        this.date = moment().format("DD.MM.YYYY");
        this.time = moment().format("HH:mm");
      },
      updateId() {
        if (this.e_id && this.e_id !== '') {
          this.eventInput = this.e_eventInput;
          this.type = this.e_type;
          this.dateTime = this.e_dateTime;
          this.date = moment(this.dateTime*1000).utc().format('DD.MM.YYYY');
          this.time = moment(this.dateTime*1000).utc().format('HH:mm');
          this.place = this.e_place;
        }
      },
      updateDateTime() {
        const date = moment(this.date, ["DD-MM-YYYY"]).format("DD-MM-YYYY")
        this.dateTime = moment.utc(`${date} ${this.time}`, ["DD-MM-YYYY HH:mm"]).utc().unix();
      },
      setPlace(event) {
        this.place = event;
        console.log(this.place);
        if (this.place) {
          console.log(this.place.geometry.location.lng());
          console.log(this.place.geometry.location.lat());
        }

        if(this.place) {
          this.gmap_error = false
        }
      },
      saveRequest() {
        this.$validator
                .validateAll()
                .then(is_valid => {
                  if (is_valid)
                    this.$emit("save-request", this.dateTime, this.place, this.eventInput, this.type);
                })
                .catch(error => {
                  console.log("Form isn't valid", error);
                });
      },
      sendForm() {
        this.$validator
                .validateAll()
                .then(is_valid => {
                  if (is_valid && this.place.name.length) {
                    if(this.place) {
                      this.gmap_error = false
                    }
                    console.log(this.dateTime)
                    this.$emit("send-form", this.dateTime, this.place, this.eventInput, this.e_id);
                  } else {
                    this.gmap_error = true

                    console.log("Form isn't valid");
                  }
                })
                .catch(error => {
                  console.log("Form isn't valid", error);
                });
      }
    }
  };
</script>
