<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <div class="modal-body">
                        <md-field class="input-template">
                            <label class="label">Input name...</label>
                            <md-input v-model="patternName" class="input-template-name"></md-input>
                        </md-field>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <svg  class="btn-close" @click='close' style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#cb595f" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                            </svg>
                            <svg class="btn-submit" @click='close' style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#59cb89" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                            </svg>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    export default {
        name: "modal",
        data() {
            return {
                patternName: '',
            }
        },
        methods:{
            close(){
                this.$emit('close',{
                    patternName: this.patternName
                })
            }
        }

    }
</script>
<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(137, 179, 155, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;

        margin: 0px auto;
        padding: 20px 30px;
        background-color: #f9f9f9;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
    }

    .modal-header {
        margin-top: 0;
        color: #42b983;

    }

    .modal-body {
        margin: 20px 0;
    }

     .btn-submit:hover {
        border: 1px solid #59cb89;
        border-radius:50%;
        cursor:pointer;
    }
    .btn-close:hover{
        border: 1px solid #cb595f;
        border-radius:50%;
        cursor:pointer;
    }
    .btn-close{
        margin-right:20px;
    }
    .btn-submit{
        margin-left:20px;
    }

    .label,.input-template-name {
        color: black;

    }
    .input-template{
        color: black;
        border-bottom: 1px solid black;
    }


</style>
