<template>
  <nav class="navbar is-fixed-top">
    <div class="navbar-menu">
      <div class="navbar-start">
        <router-link to="/" class="navbar-item">Radix</router-link>
        <router-link to="/moments_ranking" class="navbar-item">Moments Ranking</router-link>
        <router-link to="/transits" class="navbar-item">Transits</router-link>
        <router-link to="/intervals" class="navbar-item">Intervals</router-link>
        <router-link to="/current_influence" class="navbar-item">Current Influence</router-link>
        <router-link to="/history" class="navbar-item">History (old)</router-link>
        <router-link to="/data" class="navbar-item">Data</router-link>
        <router-link to="/login-admin" class="navbar-item">Admin</router-link>
      </div>
      

      <transition name="fade">
        <div 
          v-if="data_is_loaded && page === 'home'"
          class="navbar-end" 
        >
          <div class="navbar-item">
            <div class="buttons">
              <a 
                v-for="item in menu"
                :key="item.title"
                class="button is-light"
                v-scroll-to="{
                  el: `${item.to}`,
                  offset: -60 
                }"
              >{{item.title}}</a>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </nav>
</template>

<script>
import {mapState} from 'vuex'

export default {
  data() {
    return {
      menu: [
        {
          title: "Special points",
          to: "#special_points",
        },
        {
          title: "Speeds and mirror points",
          to: "#planets",
        },
        {
          title: "Aspects",
          to: "#aspects_table",
        },
        {
          title: "Chart",
          to: "#chart",
        },
        {
          title: "Address",
          to: "#address"
        },
      ]
    }
  },
  computed: {
    ...mapState(["data_is_loaded"]),
    page() {
      return this.$route.name
    }
  },
}
</script>

<style lang="scss" scoped>
.navbar {
  padding: 0 2rem;
  color: #fff;
  justify-content: center;
  box-shadow: 0px 1px 4px 0px #fff;
  &-item {
    font-weight: bold;
    color: #e6e7e8;
  }
  .router-link-exact-active {
      color: #f9d38f;
  }
}

.router-link {
  padding: 0 6px;
  border-right: 1px solid #e6e7e8;
  &:last-child {
    border-right: none;
  }
}
</style>
