<template>
  <table class="table is-hoverable is-fullwidth readings-table">
    <tbody>
      <tr v-for="reading in readings_table" :key="reading.name">
        <td>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.0"
            viewBox="0 0 25 25"
            width="25"
            height="20"
            preserveAspectRatio="xMinYMin meet"
            class="planet"
          >
            <g width="25" height="20">
              <use x="10" y="15" :xlink:href="`#${reading.name}`" />
            </g>
          </svg>
        </td>
        <td>{{ reading.name }}</td>
        <td>{{ reading.zodiac[0] }}</td>
        <td>{{ reading.zodiac[1] | formatDegree }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  props: ["readings_table"]
};
</script>

<style lang="scss" scoped>

</style>
