<template>
  <div>
    <div class="is-sub-row">
      <h2 class="subtitle">Object</h2>
      <b-field label="Name"
               :label-position="'on-border'">
        <b-select :disabled="isLoading" v-model="object.name" placeholder="Choose object" expanded>
          <option
                  v-for="el in planets"
                  :value="el"
                  :key="el">
            {{ el }}
          </option>
          <option
                  v-for="el in houses"
                  :value="el"
                  :key="el">
            {{ el }}
          </option>
        </b-select>
      </b-field>
      <b-field label="Location"
               :label-position="'on-border'">
        <p class="control has-icons-right">
          <gmap-autocomplete
                  type="text"
                  class="input"
                  :disabled="isLoading"
                  :value="object.place.name"
                  :select-first-on-enter="true"
                  @place_changed="setObjectPlace"
          />
          <span class="icon is-small is-right is-clickable" @click="object.place.name = ''">
            <i class="fas fa-times fa-lg" @click="object.place.name = ''"></i>
          </span>
          <span
                  v-if="object.gmap_error"
                  class="has-text-danger"
          >The location field is required.</span>
        </p>
      </b-field>

    </div>
    <div class="is-sub-row">
      <h2 class="subtitle">Reference</h2>
      <b-field label="From"
               :label-position="'on-border'">
        <p class="control has-icons-right">
          <input
                  class="input"
                  type="text"
                  :disabled="isLoading"
                  placeholder="Enter lower degree bound"
                  v-validate="'required'"
                  data-vv-name="reference.from"
                  v-model="reference.from"
          >
          <span class="icon is-small is-right is-clickable" @click="reference.from = ''">
            <i class="fas fa-times fa-lg" @click="reference.from = ''"></i>
          </span>
          <span class="has-text-danger">{{ errors.first('reference.from') }}</span>
        </p>
      </b-field>
      <b-field label="To"
               :label-position="'on-border'">
        <p class="control has-icons-right">
          <input
                  class="input"
                  type="text"
                  :disabled="isLoading"
                  placeholder="Enter upper degree bound"
                  v-validate="'required'"
                  data-vv-name="reference.to"
                  v-model="reference.to"
          >
          <span class="icon is-small is-right is-clickable" @click="reference.to = ''">
            <i class="fas fa-times fa-lg" @click="reference.to = ''"></i>
          </span>
          <span class="has-text-danger">{{ errors.first('reference.to') }}</span>
        </p>
      </b-field>

    </div>

    <div class="is-sub-row">
      <h3 class="subtitle">Begin:</h3>
      <div class="columns">
        <div class="column is-5">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input 
                class="input" 
                v-model="date"
                v-validate="'required'"
                :disabled="isLoading"
                data-vv-name="date"
                placeholder="DD.MM.YYYY"
                v-mask="'##.##.####'"      
              >
              <span class="icon is-small is-right is-clickable" @click="date = ''">
                <i class="fas fa-times fa-lg" @click="date = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-5">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input 
                class="input" 
                v-model="time"
                v-validate="'required'"
                :disabled="isLoading"
                data-vv-name="time"
                placeholder="HH:mm"
                v-mask="'##:##'"
              >
              <span class="icon is-small is-right is-clickable" @click="time = ''">
                <i class="fas fa-times fa-lg" @click="time = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-clock fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-2">
          <button
                  class="button"
                  @click="now"
          >Now</button>
        </div>
      </div>
    </div>
    <div class="is-sub-row">
      <h3 class="subtitle">Duration:</h3>
      <div class="field">
        <p class="control has-icons-right">
          <input
                  class="input"
                  type="number"
                  :disabled="isLoading"
                  placeholder="Enter duration"
                  v-validate="'required'"
                  data-vv-name="duration"
                  v-model="duration"
          >
          <span class="icon is-small is-right is-clickable" @click="duration = ''">
            <i class="fas fa-times fa-lg" @click="duration = ''"></i>
          </span>
          <span class="has-text-danger">{{ errors.first('duration') }}</span>
        </p>
      </div>
    </div>
    <div class="is-sub-row">
      <h3 class="subtitle">Searches per day:</h3>
      <div class="field">
        <p class="control has-icons-right">
          <input
                  class="input"
                  type="text"
                  :disabled="isLoading"
                  placeholder="Enter searches per day"
                  v-validate="'required'"
                  data-vv-name="searches_per_day"
                  v-model="searches_per_day"
          >
          <span class="icon is-small is-right is-clickable" @click="searches_per_day = ''">
            <i class="fas fa-times fa-lg" @click="searches_per_day = ''"></i>
          </span>
          <span class="has-text-danger">{{ errors.first('searches_per_day') }}</span>
        </p>
      </div>
    </div>
    <div class="is-sub-row">
      <h3 class="subtitle">Tolerance:</h3>
      <div class="field">
        <p class="control has-icons-right">
          <input
                  class="input"
                  type="text"
                  :disabled="isLoading"
                  placeholder="Enter tolerance"
                  v-validate="'required'"
                  data-vv-name="tolerance"
                  v-model="tolerance"
          >
          <span class="icon is-small is-right is-clickable" @click="tolerance = ''">
            <i class="fas fa-times fa-lg" @click="tolerance = ''"></i>
          </span>
          <span class="has-text-danger">{{ errors.first('tolerance') }}</span>
        </p>
      </div>
    </div>

    <div class="is-sub-row">
      <button 
        class="button" 
        :class="{'is-loading': isLoading}"
        @click="sendForm"
      >Submit</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  props: ['isLoading', 'aspect_type'],
  data() {
    return {
      planets: [
        'Sun', 'Moon', 'Mercury', 'Venus', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto', 'Rahu', 'Ketu',
        'Lilith'
      ],
      houses: [
        'ASC', 'House2', 'House3', 'IC', 'House5', 'House6', 'DC', 'House8', 'House9', 'MC', 'House11', 'House12'
      ],
      object: {
        name: 'Sun',
        place: {
          geometry: {
            location: {
              lng: function () {
                return 13.404953999999975;
              },
              lat: function () {
                return 52.52000659999999;
              },
            }
          },
          name: 'Berlin, Germany',
          formatted_address: "Berlin, Germany",
          address_components: [{"long_name":"Samariterstraße","short_name":"Samariterstraße","types":["route"]},{"long_name":"Bezirk Friedrichshain-Kreuzberg","short_name":"Bezirk Friedrichshain-Kreuzberg","types":["sublocality_level_1","sublocality","political"]},{"long_name":"Berlin","short_name":"Berlin","types":["locality","political"]},{"long_name":"Berlin","short_name":"Berlin","types":["administrative_area_level_1","political"]},{"long_name":"Germany","short_name":"DE","types":["country","political"]},{"long_name":"10247","short_name":"10247","types":["postal_code"]}]
        },
        gmap_error: false,
      },
      reference: {
        from: 0,
        to: 360
      },
      date: '',
      time: '',
      dateTime: null,
      duration: 10,
      searches_per_day: 10,
      tolerance: 3,
    };
  },
  watch: {
    date: {
      handler: "updateDateTime",
      immediate: true
    },
    time: {
      handler: "updateDateTime",
      immediate: true
    }
  },
  methods: {
    now() {
      this.date = moment().format("DD.MM.YYYY");
      this.time = moment().format("HH:mm");
    },
    updateDateTime() {
      const date = moment(this.date, ["DD-MM-YYYY"]).format("DD-MM-YYYY")
      this.dateTime = moment.utc(`${date} ${this.time}`, ["DD-MM-YYYY HH:mm"]).utc().unix();
    },
    setObjectPlace(event) {
      this.place = event;
      console.log(this.object.place);
      if (this.object.place) {
        console.log(this.object.place.geometry.location.lng());
        console.log(this.object.place.geometry.location.lat());
      }

      if(this.object.place) {
        this.object.gmap_error = false
      }
    },
    sendForm() {
      this.$validator
        .validateAll()
        .then(is_valid => {
          if (is_valid) {
            this.$emit("send-form", this.aspect_type, this.object, this.reference, this.dateTime, this.duration, this.searches_per_day, this.tolerance);
          } else {
            console.log("Form isn't valid");
          }
        })
        .catch(error => {
          console.log("Form isn't valid", error);
        });
    }
  },
  mounted() {
    this.now();
  }
};
</script>

<style scoped lang="scss">

</style>
