<template>
  <div>
    <card-collapse 
      class="result-table-wrap" 
      title="Special points"
      id="special_points"
    >
      <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Triggered by</th>
            <th>Name</th>
            <th>Degree (diff)</th>
            <th>Signification</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(sp, i) in specialPoints"
            :key="i"
          >
            <td>{{ sp.Triggered_by }}</td>
            <td>{{ sp.Name }}</td>
            <td>{{ sp.Zodiac }} {{ sp.Point_degree | formatDegree }} ({{ sp.Difference | formatDegree}})</td>
            <td>{{ sp.Signification }} ({{ sp.Points }} points)</td>
            <td>{{ sp.Points }}</td>
          </tr>
        </tbody>
      </table>
    </card-collapse>

    <card-collapse 
      class="result-table-wrap" 
      title="Aspects"
      id="aspects_table"
    >
      <table class="table is-narrow is-hoverable is-fullwidth">
        <template v-if="conjuncts && conjuncts.length">
          <thead>
            <tr>
              <th>Conjuncts</th>
              <th>Diff</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(conjunct, i) in conjuncts"
              :key="i"
            >
              <td>[{{ conjunct[0] }} - {{ conjunct[1] }}]</td>
              <td>{{ conjunct[2] | formatDegree }}</td>
            </tr>
          </tbody>
        </template>
        <template v-if="oppositions && oppositions.length">
          <thead>
            <tr>
              <th>Oppositions</th>
              <th>Diff</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(opposition, i) in oppositions" :key="i">
              <td>[{{ opposition[0] }} - {{ opposition[1] }}]</td>
              <td>{{ opposition[2] | formatDegree }}</td>
            </tr>
          </tbody>
        </template>
        <template v-if="trines && trines.length">
          <thead>
            <tr>
              <th>Trines</th>
              <th>Diff</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(trine, i) in trines" :key="i">
              <td>[{{ trine[0] }} - {{ trine[1] }}]</td>
              <td>{{ trine[2] | formatDegree }}</td>
            </tr>
          </tbody>
        </template>
        <template v-if="squares && squares.length">
          <thead>
            <tr>
              <th>Squares</th>
              <th>Diff</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(square, i) in squares" :key="i">
              <td>[{{ square[0] }} - {{ square[1] }}]</td>
              <td>{{ square[2] | formatDegree }}</td>
            </tr>
          </tbody>
        </template>
      </table>
    </card-collapse>

    <card-collapse 
      class="result-table-wrap" 
      title="Planets"
      id="planets"
    >
      <table class="table is-narrow is-hoverable is-striped is-fullwidth">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="4" style="text-align: center">Current Velocity</th>
            <th colspan="4" style="text-align: center">General Velocities</th>
          </tr>
          <tr>
            <th>Planet</th>
            <th>Degree of planets</th>
            <th>Mirror point 1</th>
            <th>Mirror point 2</th>
            <th>Mirror point 3</th>
            <th>per hour</th>
            <th>per day</th>
            <th>per month</th>
            <th>per year</th>
            <th>max</th>
            <th>min</th>
            <th>mean</th>
            <th>positive mean</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(planet, i) in planets" :key="i">
            <td>{{ planet.name }}</td>
            <td>
              {{ planet.zodiac[0] }}, {{ planet.zodiac[1] | formatDegree }}
            </td>
            <td v-for="point in planet.mirror_points">
              {{point[0]}}, {{point[1] | formatDegree}}
            </td>
            <td>{{ planet.velocities.current.hour | formatDegree }}</td>
            <td>{{ planet.velocities.current.day | formatDegree }}</td>
            <td>{{ planet.velocities.current.month | formatDegree }}</td>
            <td>{{ planet.velocities.current.year | formatDegree }}</td>
            <td>{{ planet.velocities.general.max | formatDegree }}</td>
            <td>{{ planet.velocities.general.min | formatDegree }}</td>
            <td>{{ planet.velocities.general.mean | formatDegree }}</td>
            <td>{{ planet.velocities.general.positive_mean | formatDegree }}</td>
          </tr>
        </tbody>
      </table>
    </card-collapse>

    <card-collapse
      class="result-table-wrap"
      title="Chart"
      id="chart"
    >
      <table class="table is-narrow is-hoverable is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Planet</th>
            <th>Degree of planets</th>
            <th>House</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(reading, i) in readings" :key="i">
            <td>{{ reading.name }}</td>
            <td>
              {{ reading.zodiac[0] }} , {{ reading.zodiac[1] | formatDegree }}
            </td>
            <td>{{ reading.house[0] | romanize }}</td>
          </tr>
        </tbody>
      </table>

      <table class="table is-narrow is-hoverable is-striped is-fullwidth">
        <thead>
          <tr>
            <th>House</th>
            <th>Degree of house tips</th>
            <th>Ruler</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(houses, index) in houseTips"
            :key="index"
          >
            <td>{{ (parseInt(index) + 1) | romanize }}</td>
            <td>
              {{ houses.zodiac[0] }} , {{ houses.zodiac[1] | formatDegree }}
            </td>
            <td>{{ houses.ruler }}</td>
          </tr>
        </tbody>
      </table>
    </card-collapse>

    <card-collapse 
      class="result-table-wrap" 
      title="Address"
      id="address"
    >
      <table class="table is-narrow is-hoverable is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Address</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ address.latitude | toFixed(4) }}</td>
            <td>{{ address.longitude | toFixed(4) }}</td>
            <td>{{ address.address }}</td>
            <td>{{ address.short_name }}</td>
          </tr>
        </tbody>
      </table>
    </card-collapse>
  </div>
</template>

<script>
import CardCollapse from '@/components/CardCollapse'
export default {
  data(){
    return{
      counter:0,
    }
  },
  props: [
    "planets",
    "readings",
    "houseTips",
    "specialPoints",
    "conjuncts",
    "oppositions",
    "trines",
    "squares",
    "address"
  ],
  components: {
    CardCollapse
  },
  methods:{
  /*  matchQuantityOfPlanet(){
      console.log('this is');
      console.log(this.houseTips[0].zodiac[1],'this is house');
      console.log(this.readings[0].zodiac[1],'this is planets');
      if((this.houseTips[0].zodiac[1])===(this.readings[0].zodiac[1])){
        alert(this.counter++)
        return this.counter++

      }

    },*/
  },
  created(){
/*    this.matchQuantityOfPlanet()*/
  }
};
</script>

<style scoped>
.result-table-wrap {
  margin-top: 3rem;
}
.result-table-wrap >>> .card-content{
  overflow-x: scroll;
}
.table {
  width: 100%;
}
</style>
