<template>
        <table class="table is-hoverable is-fullwidth readings-table">
            <thead>
            <tr>
                <td class="width-col">Planet</td>
                <td class="width-col">House</td>
                <td class="width-col">Time</td>
            </tr>
            </thead>
            <tbody >
            <tr v-for="item in result" :key="item[4]" >
                    <td class="width-col">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.0"
                            viewBox="0 0 25 25"
                            width="25"
                            height="20"
                            preserveAspectRatio="xMinYMin meet"
                            class="planet"
                    >
                        <g width="25" height="20">
                            <use x="10" y="15" :xlink:href="`#${item[0]}`" />
                        </g>
                    </svg>
           {{item[0]}}
                    </td>
                <td class="width-col">{{item[1]}}</td>
                <td class="width-col">{{item[4]}}</td>
            </tr>
            </tbody>
        </table>
</template>

<script>
    import moment from "moment";

    export default {
        name: "TablePlanetsOnTheTip",
        props:['result'],
         computed:{
            date() {
                return moment.unix(this.result.item[4]).utc().format('DD.MM.YYYY HH:mm')
            },
        }
    }
</script>

<style scoped>
    .table{
        text-align:left;
        border:1px solid lightgray;
        border-radius: 30px;
    }
    .width-col{
        width:100px;
    }

</style>