<template>
  <div>
    <div class="is-sub-row">
      <h3 class="subtitle">Choose event:</h3>
      <b-select v-model="eventInput" placeholder="Choose first event" expanded>
        <option
                v-for="event in events"
                :value="event.name"
                :key="event.name">
          {{ event.name }}
        </option>
      </b-select>
      <span class="has-text-danger">{{ errors.first('event') }}</span>
    </div>

    <div class="is-sub-row">
      <h3 class="subtitle">From:</h3>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                v-model="from_date"
                v-validate="'required'"
                data-vv-name="date"
                placeholder="DD.MM.YYYY"
                v-mask="'##.##.####'"
              >
              <span class="icon is-small is-right is-clickable" @click="from_date = ''">
                <i class="fas fa-times fa-lg" @click="from_date = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                v-model="from_time"
                v-validate="'required'"
                data-vv-name="time"
                placeholder="HH:mm"
                v-mask="'##:##'"
              >
              <span class="icon is-small is-right is-clickable" @click="from_time = ''">
                <i class="fas fa-times fa-lg" @click="from_time = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-clock fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="is-sub-row">
      <h3 class="subtitle">To:</h3>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                v-model="to_date"
                v-validate="'required'"
                data-vv-name="date"
                placeholder="DD.MM.YYYY"
                v-mask="'##.##.####'"
              >
              <span class="icon is-small is-right is-clickable" @click="to_date = ''">
                <i class="fas fa-times fa-lg" @click="to_date = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                v-model="to_time"
                v-validate="'required'"
                data-vv-name="time"
                placeholder="HH:mm"
                v-mask="'##:##'"
              >
              <span class="icon is-small is-right is-clickable" @click="to_time = ''">
                <i class="fas fa-times fa-lg" @click="to_time = ''"></i>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-clock fa-lg"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="is-sub-row">
      <button 
        class="button" 
        :class="{'is-loading': isLoading}"
        @click="sendForm"
      >Submit</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  props: ['is-loading', 'e_id', 'e_event', 'e_from_dateTime', 'e_to_dateTime'],
  data() {
    return {
      from_date: '',
      to_date: '',
      from_time: '',
      to_time: '',
      date: '',
      time: '',
      from_dateTime: null,
      to_dateTime: null,
      eventInput: '',
      events: [],
      utc: null,
      utc_offset: null
    };
  },
  watch: {
    e_id: {
      handler: "updateId",
      immediate: true
    },
    from_date: {
      handler: "updateDateTime",
      immediate: true
    },
    to_date: {
      handler: "updateDateTime",
      immediate: true
    },
    from_time: {
      handler: "updateDateTime",
      immediate: true
    },
    to_time: {
      handler: "updateDateTime",
      immediate: true
    }
  },
  methods: {
    updateId() {
      if (this.e_id && this.e_id !== '') {
        this.from_dateTime = this.e_from_dateTime;
        this.to_dateTime = this.e_to_dateTime;
        this.from_date = moment(this.from_dateTime*1000).utc().format('DD.MM.YYYY');
        this.from_time = moment(this.from_dateTime*1000).utc().format('HH:mm');
        this.to_date = moment(this.to_dateTime*1000).utc().format('DD.MM.YYYY');
        this.to_time = moment(this.to_dateTime*1000).utc().format('HH:mm');
        this.eventInput = this.e_event;
      }
    },
    updateDateTime() {
      const from_date = moment(this.from_date, ["DD-MM-YYYY"]).format("DD-MM-YYYY");
      const to_date = moment(this.to_date, ["DD-MM-YYYY"]).format("DD-MM-YYYY");
      this.from_dateTime = moment.utc(`${from_date} ${this.from_time}`, ["DD-MM-YYYY HH:mm"]).utc().unix();
      this.to_dateTime = moment.utc(`${to_date} ${this.to_time}`, ["DD-MM-YYYY HH:mm"]).utc().unix();
    },
    sendForm() {
      this.$validator
        .validateAll()
        .then(is_valid => {
          if (is_valid) {
            this.$emit("send-form", this.eventInput, this.from_dateTime, this.to_dateTime, this.e_id);
          } else {
            console.log("Form isn't valid");
          }
        })
        .catch(error => {
          console.log("Form isn't valid", error);
        });
    }
  },
  mounted() {
    const url = `https://priv.astro.sol-ra.com:5000/api/v1.0/events/all`;

    axios
            .get(url)
            .then(response => response.data)
            .then(data => {
              this.events = data;
            })
            .catch(e => console.log(e))
  }
};
</script>

<style scoped lang="scss">

</style>
