<template>
  <g id="aspects">
    <template v-for="conjunct in conjuncts">
      <path v-if="filter[conjunct.objects[0]][conjunct.un_type] || filter[conjunct.objects[1]][conjunct.un_type]"
        :d="`M ${conjunct.x2}, ${conjunct.y2} A 155, 155 0 0 1 ${conjunct.x1}, ${conjunct.y1}`"
        :class="`${conjunct.type} ${conjunct.name}`"
        :key="`conjunct${conjunct.x1}${conjunct.y1}-${conjunct.name}`"
      />
    </template>

    <template v-for="aspect in others">
      <line  v-if="filter[aspect.objects[0]][aspect.un_type] || filter[aspect.objects[1]][aspect.un_type]"
        :x1="aspect.x1"
        :y1="aspect.y1"
        :x2="aspect.x2"
        :y2="aspect.y2"
        :class="`${aspect.type} ${aspect.name}`"
        :key="`aspect${aspect.x1}${aspect.y1}-${aspect.name}`"
      />
    </template>

    <template v-for="conjunct in mp_conjuncts">
      <path v-if="(filter_mp_aspects[conjunct.objects[0]][conjunct.un_type] || filter[conjunct.objects[1]][conjunct.un_type]) && filter_mp[conjunct.objects[0]]"
        :d="`M ${conjunct.x2}, ${conjunct.y2} A 155, 155 0 0 1 ${conjunct.x1}, ${conjunct.y1}`"
        :class="`${conjunct.type} ${conjunct.name}`"
        :key="`conjunct${conjunct.x1}${conjunct.y1}-${conjunct.name}`"
      />
    </template>

    <template v-for="aspect in mp_others">
      <line  v-if="(filter_mp_aspects[aspect.objects[0]][aspect.un_type] || filter[aspect.objects[1]][aspect.un_type]) && filter_mp[aspect.objects[0]]"
        :x1="aspect.x1"
        :y1="aspect.y1"
        :x2="aspect.x2"
        :y2="aspect.y2"
        :class="`${aspect.type} ${aspect.name}`"
        :key="`aspect${aspect.x1}${aspect.y1}-${aspect.name}`"
      />
    </template>
  </g>
</template>

<script>
export default {
  props: {
    conjuncts: Array,
    others: Array,
    mp_conjuncts: Array,
    mp_others: Array,
    filter: {},
    filter_mp_aspects: {},
    filter_mp: {},
    chartKey: {},
    asc: Number
  },
  data() {
    return {
      conj: {

      }
    }
  },
  watch: {
    conjuncts: {
      immediate: true,
      handler(val) {

      }
    },
    conj(val) {
      
    }
  }
};
</script>

<style></style>
