<template>
  <g id="bodies">
    <template v-for="bodie in bodiesGraph">
      <line
        :x1="bodie.x1"
        :y1="bodie.y1"
        :x2="bodie.x2"
        :y2="bodie.y2"
        :class="bodie.name"
        :key="`${bodie.name}${bodie.x1}`"
      />
      <use
        :x="bodie.x3"
        :y="bodie.y3"
        :xlink:href="'#' + bodie.name"
        :class="bodie.name"
        class="planet"
        :title="bodie.name"
        :key="`${bodie.name}${bodie.x3}`"
      />
      <text
        :x="bodie.x4"
        :y="bodie.y4"
        :class="bodie.name"
        :title="bodie.name"
        :key="`${bodie.name}${bodie.x4}`"
      >
        {{ bodie.pos | formatDegree | remove_seconds }}
      </text>
    </template>
  </g>
</template>

<script>
export default {
  props: {
    bodiesGraph: Array
  }
};
</script>

<style></style>
