<template>
  <g id="houses">
    <path d="M 300,295 L 300,305" class="origin" />
    <path d="M 295,300 L 305,300" class="origin" />
  </g>
</template>

<script>
export default {};
</script>

<style></style>
