<template>
  <g id="cuspids">
    <template v-for="(house, index) in housesGraph">
      <line
        :x1="house.x1"
        :y1="house.y1"
        :x2="house.x2"
        :y2="house.y2"
        :marker-end="
          ['ASC', 'MC', 'IC', 'DC'].includes(house.name) ? 
          'url(\'#Arrow\')' : 
          ''
        "
        :class="(index + 1) | romanize"
        :key="`${house.name}${house.x1}`"
      />
      <text :x="house.x3" :y="house.y3" :key="`${house.name}${house.x3}`">
        {{ (index + 1) | romanize }}
      </text>
    </template>
  </g>
</template>

<script>
export default {
  props: {
    housesGraph: Array
  }
};
</script>

<style></style>
