<template>
  <g id="zodiac" :transform="'rotate( ' + rotate + ', 300, 300)'">
    <g id="circle" class="main-circle">
      <path
        d="M 429.9,375 
        C 471.3,303.3 446.7,211.5 375,170.1 
        C 303.3,128.7 211.5,153.3 170.1,225 
        C 128.7,296.7 153.3,388.5 225,429.9 
        C 296.7,471.3 388.5,446.7 429.9,375 z 
        M 386.6,350 
        C 359,397.79972 297.8,414.2 250,386.6 
        C 202.2,359 185.8,297.8 213.4,250 
        C 241,202.2 302.2,185.8 350,213.4 
        C 397.8,241 414.2,302.2 386.6,350 z"
        class="disc"
      />
      <path d="M 375,170 L 350,213.4" />
      <path d="M 170,225 L 213.4,250" />
      <path d="M 225,430 L 250,386.6" />
      <path d="M 430,375 L 386.6,350" />
      <path d="M 430,225 L 386.6,250" />
      <path d="M 225,170 L 250,213.4" />
      <path d="M 170,375 L 213.4,350" />
      <path d="M 375,430 L 350,386.6" />
      <path d="M 450,300 L 400,300" />
      <path d="M 300,150 L 300,200" />
      <path d="M 150,300 L 200,300" />
      <path d="M 300,450 L 300,400" />
    </g>
    <g class="circle points" />
    <sings />
  </g>
</template>

<script>
import * as d3 from "d3"
import Sings from "./Sings";
export default {
  props: ["rotate"],
  components: {
    Sings
  },
  data() {
    return {};
  },
  mounted() {
    d3
      .select(".points")
      .selectAll("path.tick")
      .data(d3.range(360))
      .enter()
      .append("path")
      .classed("tick", true)
      .attr("stroke", "#f17688")
      .attr("stroke-width", "1")
      .attr("d", d => {
        let s = d % 10 ? -10 : -20;
        d = (d / 180) * Math.PI;
        let x = Math.cos(d);
        let y = Math.sin(d);
        let r = 150;
        return `M ${x * r}     , ${y * r} 
                L ${x * (r - s)} , ${y * (r - s)}`;
      });
  },
  methods: {}
};
</script>

<style></style>
