<template>
  <g id="mirrors">
    <template v-for="mp in mirrorPoints" v-if="filter_mp[mp.planet]">
      <line
        :x1="mp.x1"
        :y1="mp.y1"
        :x2="mp.x2"
        :y2="mp.y2"
        :class="mp.name"
        class="yellow"
        :key="`${mp.name}${mp.x1}`"
      />
      <use
        :x="mp.x3"
        :y="mp.y3"
        :xlink:href="'#' + mp.name"
        :class="mp.name"
        class="mirror"
        :title="mp.name"
        :key="`${mp.name}${mp.x3}`"
      />
      <text
        :x="mp.x4"
        :y="mp.y4"
        :class="mp.name"
        class="yellow"
        :title="mp.name"
        :key="`${mp.name}${mp.x4}`"
      >
        {{ mp.pos | formatDegree | remove_seconds }}
      </text>
    </template>
  </g>
</template>

<script>
export default {
  props: {
    mirrorPoints: Array,
    filter_mp: {},
  }
};
</script>

<style></style>
