<template>
  <defs>
    <marker
      id="Arrow"
      viewBox="-2 -2 14 14"
      refX="5"
      refY="5"
      markerUnits="strokeWidth"
      markerWidth="14"
      markerHeight="14"
      orient="auto"
    >
      <path d="M 0 0 L 5 5 L 0 10" />
    </marker>
    <g id="Sun">
      <circle cx="0" cy="0" r="9" />
      <circle cx="0" cy="0" r="1" />
    </g>
    <g id="Moon">
      <path
        d="M -6.3,-6.7 
      C -2.7,-10.35 3.2,-10.3 6.757,-6.6 
      C 10.3,-3 10.3,3 6.6,6.7 
      C 3,10.3 -2.8,10.3 -6.4,6.6 
      C -6.4,6.6 1.4,6.3 1.4,0 
      C 1.4,-6.2 -6.3,-6.7 -6.3,-6.7 z"
      />
    </g>
    <g id="Mercury">
      <path d="M -4,-9 A 4,4 0 1 0 4,-9" />
      <circle cx="0" cy="-1" r="4" />
      <line x1="0" y1="3" x2="0" y2="9.5" />
      <line x1="-3.5" y1="6" x2="3.5" y2="6" />
    </g>
    <g id="Venus">
      <circle cx="0" cy="-2.5" r="5" />
      <line x1="0" y1="2.5" x2="0" y2="9" />
      <line x1="-3.5" y1="5.5" x2="3.5" y2="5.5" />
    </g>
    <g id="Mars">
      <circle cx="-1.5" cy="1.5" r="5.5" />
      <path d="M 3,-7 L 7,-7 L 7,-3" />
      <line x1="7" y1="-7" x2="2.5" y2="-2.5" />
    </g>
    <g id="Jupiter">
      <path d="M 6.5,4 L -5,4 C 6.2,-1.4 -1,-10.4 -5,-4.5" />
      <line x1="3" y1="0.5" x2="3" y2="7.5" />
    </g>
    <g id="Saturn">
      <path d="M 0,7.7 C 10.2,3 3.75,-5 0,0" />
      <path d="M 0,-7.5 L 0,0.5" />
      <path d="M -3.5,-4.5 L 3.5,-4.5" />
    </g>
    <g id="Uranus">
      <circle cx="0" cy="5" r="4" />
      <path d="M 0,-5.5 L 0,0.5" />
      <path d="M 2.5,-3.5 L -2.5,-3.5" />
      <path d="M -5.6,-7.4 A 3.75,3.75 0 0 1 -5.6,0" />
      <path d="M 5.6,-7.4 A 3.75,3.75 0 0 0 5.6,0" />
    </g>
    <g id="Neptune">
      <path
        d="M -5.5,-7 
        L -5.5,-4.5 
        C -5.5,-4.5 -5.5,-4.5 -5.5,-4.5 
        C -5.5,-1.5 -3,1 0,1 
        C 3,1 5.5,-1.5 5.5,-4.5 
        L 5.5,-7"
      />
      <line x1="0" y1="7.5" x2="0" y2="-7" />
      <line x1="-3" y1="4" x2="3" y2="4" />
    </g>
    <g id="Pluto">
      <circle cx="0" cy="4" r="4" />
      <path d="M 0,-7 L 0,0" />
      <path d="M 2.5,-2.5 L -2.5,-2.5" />
      <path d="M -4,-9 A 4,4 0 1 0 4,-9" />
    </g>
    <g id="MeanNode">
      <path d="M -3,6 A 6,6 1 1 1 3,6" />
      <circle cx="-4" cy="8" r="2" />
      <circle cx="4" cy="8" r="2" />
    </g>
    <g id="TrueNode">
      <path d="M -3,6 A 6,6 1 1 1 3,6" />
      <circle cx="-4" cy="8" r="2" />
      <circle cx="4" cy="8" r="2" />
    </g>
    <g id="MeanSouthNode">
      <path d="M -3,-6 A 6,6 1 1 0 3,-6" />
      <circle cx="-4" cy="-8" r="2" />
      <circle cx="4" cy="-8" r="2" />
    </g>
    <g id="TrueSouthNode">
      <path d="M -3,-6 A 6,6 1 1 0 3,-6" />
      <circle cx="-4" cy="-8" r="2" />
      <circle cx="4" cy="-8" r="2" />
    </g>
    <g id="MeanApogee">
      <path
        d="M -4.25,-7 
        C -2.25,-9 1,-9 3,-7 
        C 5,-5 5,-1.66 3,0.33 
        C 1,2.3 -2.3,2.3 -4.3,0.3 
        C -4.3,0.3 0,0.1 0,-3.35 
        C 0,-6.75 -4.3,-7 -4.25,-7 z "
      />
      <path d="M 0,8 L 0,2" />
      <path d="M -3,5 L 3,5" />
    </g>
    <g id="OscuApogee">
      <path
        d="M -4.25,-7 
        C -2.25,-9 1,-9 3,-7 
        C 5,-5 5,-1.66 3,0.33 
        C 1,2.3 -2.3,2.3 -4.3,0.3 
        C -4.3,0.3 0,0.1 0,-3.35 
        C 0,-6.75 -4.3,-7 -4.25,-7 z "
      />
      <path d="M 0,8 L 0,2" />
      <path d="M -3,5 L 3,5" />
    </g>
    <g id="Earth">
      <circle cx="0" cy="0" r="7" />
      <line x1="0" y1="-7" x2="0" y2="7" />
      <line x1="-7" y1="0" x2="7" y2="0" />
    </g>
    <g id="Chiron">
      <circle cx="0" cy="5" r="4" />
      <path d="M -2,-9 L -2,1" />
      <path d="M 3,-7 L -0.5,-4 L 3,-1" />
    </g>
    <g id="Pholus">
      <path d="M 0,2.5 L 5,-2.5 L 0,-7.5 L -5,-2.5 z" />
      <line x1="0" y1="2.5" x2="0" y2="9" />
      <path d="M -6,9 L -3,5 L 0,9 L 3,5 L 6,9" />
    </g>
    <g id="Ceres">
      <path d="M 0,2.5 A 5,5 1 1 0 -5,-2.5" />
      <line x1="0" y1="2.5" x2="0" y2="9" />
      <line x1="-3.5" y1="5.5" x2="3.5" y2="5.5" />
    </g>
    <g id="Pallas">
      <path d="M 0,2.5 L 5,-2.5 L 0,-7.5 L -5,-2.5 z" />
      <line x1="0" y1="2.5" x2="0" y2="9" />
      <line x1="-3.5" y1="5.5" x2="3.5" y2="5.5" />
    </g>
    <g id="Juno">
      <line x1="0" y1="-7.5" x2="0" y2="9" />
      <line x1="-3.5" y1="5.5" x2="3.5" y2="5.5" />
      <line x1="-5" y1="-2.5" x2="5" y2="-2.5" />
      <line x1="-4" y1="-6.5" x2="4" y2="1.5" />
      <line x1="-4" y1="1.5" x2="4" y2="-6.5" />
    </g>
    <g id="Lilith" transform="translate(-8,-8)">
      <path d="M 12.980469 7.992188 C 12.46875 8.335938 11.855469 8.535156 11.199219 8.535156 C 9.433594 8.535156 8 7.101562 8 5.332031 C 8 3.566406 9.433594 2.132812 11.199219 2.132812 C 11.855469 2.132812 12.46875 2.332031 12.976562 2.671875 C 12.058594 1.074219 10.332031 0 8.355469 0 C 5.410156 0 3.019531 2.386719 3.019531 5.332031 C 3.019531 8.054688 5.058594 10.300781 7.691406 10.625 L 7.691406 13.332031 L 5.691406 13.332031 C 5.507812 13.332031 5.359375 13.484375 5.359375 13.667969 C 5.359375 13.851562 5.507812 14 5.691406 14 L 7.691406 14 L 7.691406 15.667969 C 7.691406 15.851562 7.839844 16 8.023438 16 C 8.210938 16 8.359375 15.851562 8.359375 15.667969 L 8.359375 14 L 10.359375 14 C 10.542969 14 10.691406 13.851562 10.691406 13.667969 C 10.691406 13.484375 10.542969 13.332031 10.359375 13.332031 L 8.359375 13.332031 L 8.359375 10.667969 C 10.332031 10.664062 12.058594 9.589844 12.980469 7.992188 Z M 8.355469 10 C 7.722656 10 7.113281 9.875 6.539062 9.632812 C 5.984375 9.398438 5.484375 9.0625 5.054688 8.632812 C 4.625 8.203125 4.289062 7.707031 4.054688 7.148438 C 3.8125 6.574219 3.6875 5.964844 3.6875 5.332031 C 3.6875 4.703125 3.8125 4.09375 4.054688 3.515625 C 4.289062 2.960938 4.625 2.460938 5.054688 2.035156 C 5.484375 1.605469 5.984375 1.269531 6.539062 1.03125 C 7.113281 0.789062 7.722656 0.667969 8.355469 0.667969 C 9.191406 0.667969 10.007812 0.890625 10.722656 1.3125 C 10.808594 1.363281 10.894531 1.417969 10.976562 1.472656 C 8.949219 1.589844 7.332031 3.277344 7.332031 5.332031 C 7.332031 7.390625 8.949219 9.078125 10.976562 9.195312 C 10.894531 9.25 10.808594 9.304688 10.722656 9.355469 C 10.007812 9.777344 9.191406 10 8.355469 10 Z M 8.355469 10 "/>
    </g>
    <g id="Rahu" transform="translate(-8,-8)">
      <path d="M 15 7 C 15 3.132812 11.867188 0 8 0 C 4.132812 0 1 3.132812 1 7 C 1 9.425781 2.234375 11.5625 4.105469 12.816406 C 3.53125 13.082031 3.132812 13.660156 3.132812 14.332031 C 3.132812 15.253906 3.878906 16 4.796875 16 C 5.71875 16 6.464844 15.253906 6.464844 14.332031 C 6.464844 13.65625 6.0625 13.074219 5.480469 12.8125 C 4.75 12.496094 4.089844 12.046875 3.519531 11.476562 C 2.9375 10.894531 2.484375 10.21875 2.164062 9.464844 C 1.835938 8.683594 1.667969 7.855469 1.667969 7 C 1.667969 6.144531 1.835938 5.316406 2.164062 4.535156 C 2.484375 3.78125 2.9375 3.101562 3.523438 2.523438 C 4.105469 1.941406 4.78125 1.484375 5.535156 1.164062 C 6.316406 0.835938 7.144531 0.667969 8 0.667969 C 8.855469 0.667969 9.683594 0.835938 10.464844 1.164062 C 11.21875 1.484375 11.894531 1.941406 12.476562 2.523438 C 13.058594 3.105469 13.515625 3.78125 13.835938 4.535156 C 14.164062 5.316406 14.332031 6.144531 14.332031 7 C 14.332031 7.855469 14.164062 8.683594 13.835938 9.464844 C 13.515625 10.21875 13.0625 10.898438 12.476562 11.480469 C 11.910156 12.046875 11.25 12.496094 10.519531 12.8125 C 9.9375 13.074219 9.535156 13.65625 9.535156 14.332031 C 9.535156 15.253906 10.28125 16 11.203125 16 C 12.125 16 12.871094 15.253906 12.871094 14.332031 C 12.871094 13.660156 12.46875 13.078125 11.894531 12.816406 C 13.765625 11.558594 15 9.425781 15 7 Z M 5.800781 14.332031 C 5.800781 14.882812 5.351562 15.332031 4.800781 15.332031 C 4.246094 15.332031 3.800781 14.882812 3.800781 14.332031 C 3.800781 13.78125 4.246094 13.332031 4.800781 13.332031 C 5.351562 13.332031 5.800781 13.78125 5.800781 14.332031 Z M 12.203125 14.332031 C 12.203125 14.882812 11.753906 15.332031 11.203125 15.332031 C 10.652344 15.332031 10.203125 14.882812 10.203125 14.332031 C 10.203125 13.78125 10.652344 13.332031 11.203125 13.332031 C 11.753906 13.332031 12.203125 13.78125 12.203125 14.332031 Z M 12.203125 14.332031 "/>
    </g>
    <g id="Ketu" transform="translate(-8,-8)">
      <path d="M 11.894531 3.183594 C 12.46875 2.917969 12.867188 2.339844 12.867188 1.667969 C 12.867188 0.746094 12.121094 0 11.203125 0 C 10.28125 0 9.535156 0.746094 9.535156 1.667969 C 9.535156 2.34375 9.9375 2.925781 10.515625 3.1875 C 11.25 3.503906 11.910156 3.953125 12.476562 4.523438 C 13.058594 5.105469 13.515625 5.78125 13.835938 6.535156 C 14.164062 7.316406 14.332031 8.144531 14.332031 9 C 14.332031 9.855469 14.164062 10.683594 13.835938 11.464844 C 13.515625 12.21875 13.0625 12.898438 12.476562 13.476562 C 11.894531 14.058594 11.21875 14.515625 10.464844 14.835938 C 9.683594 15.167969 8.855469 15.332031 8 15.332031 C 7.144531 15.332031 6.316406 15.167969 5.535156 14.835938 C 4.78125 14.515625 4.101562 14.058594 3.519531 13.476562 C 2.9375 12.898438 2.484375 12.21875 2.164062 11.464844 C 1.835938 10.683594 1.667969 9.855469 1.667969 9 C 1.667969 8.144531 1.835938 7.316406 2.164062 6.535156 C 2.484375 5.78125 2.9375 5.105469 3.523438 4.519531 C 4.089844 3.953125 4.75 3.503906 5.480469 3.1875 C 6.0625 2.925781 6.464844 2.34375 6.464844 1.667969 C 6.464844 0.746094 5.71875 0 4.796875 0 C 3.875 0 3.128906 0.746094 3.128906 1.667969 C 3.128906 2.339844 3.53125 2.921875 4.105469 3.183594 C 2.234375 4.4375 1 6.574219 1 9 C 1 12.867188 4.132812 16 8 16 C 11.867188 16 15 12.867188 15 9 C 15 6.574219 13.765625 4.4375 11.894531 3.183594 Z M 10.203125 1.667969 C 10.203125 1.113281 10.648438 0.667969 11.203125 0.667969 C 11.753906 0.667969 12.203125 1.113281 12.203125 1.667969 C 12.203125 2.21875 11.753906 2.667969 11.203125 2.667969 C 10.648438 2.667969 10.203125 2.21875 10.203125 1.667969 Z M 3.796875 1.667969 C 3.796875 1.113281 4.246094 0.667969 4.796875 0.667969 C 5.347656 0.667969 5.796875 1.113281 5.796875 1.667969 C 5.796875 2.21875 5.347656 2.667969 4.796875 2.667969 C 4.246094 2.667969 3.796875 2.21875 3.796875 1.667969 Z M 3.796875 1.667969 "/>
    </g>
    <g id="Vesta">
      <path d="M -8,0 L -5,0 L 0,8 L 5,0 L 8,0" />
      <path d="M -3,-2 L 0,3 L 3,-2" />
      <path d="M 0,-5 L 0,-2" />
    </g>
    <g id="InterpretedApogee">
      <circle cx="0" cy="0" r="7" />
      <circle cx="0" cy="0" r="3" />
    </g>
    <g id="InterpretedPerigee">
      <circle cx="0" cy="0" r="7" />
      <circle cx="0" cy="0" r="3" />
    </g>
    <g id="mpSun" class="mp">
      <g>
        <circle cx="0" cy="0" r="9" />
        <circle cx="0" cy="0" r="1" />
      </g>
    </g>
    <g id="mpMoon" class="mp">
      <path
        d="M -6.3,-6.7
      C -2.7,-10.35 3.2,-10.3 6.757,-6.6
      C 10.3,-3 10.3,3 6.6,6.7
      C 3,10.3 -2.8,10.3 -6.4,6.6
      C -6.4,6.6 1.4,6.3 1.4,0
      C 1.4,-6.2 -6.3,-6.7 -6.3,-6.7 z"
      />
    </g>
    <g id="mpMercury" class="mp">
      <path d="M -4,-9 A 4,4 0 1 0 4,-9" />
      <circle cx="0" cy="-1" r="4" />
      <line x1="0" y1="3" x2="0" y2="9.5" />
      <line x1="-3.5" y1="6" x2="3.5" y2="6" />
    </g>
    <g id="mpVenus" class="mp">
      <circle cx="0" cy="-2.5" r="5" />
      <line x1="0" y1="2.5" x2="0" y2="9" />
      <line x1="-3.5" y1="5.5" x2="3.5" y2="5.5" />
    </g>
    <g id="mpMars" class="mp">
      <circle cx="-1.5" cy="1.5" r="5.5" />
      <path d="M 3,-7 L 7,-7 L 7,-3" />
      <line x1="7" y1="-7" x2="2.5" y2="-2.5" />
    </g>
    <g id="mpJupiter" class="mp">
      <path d="M 6.5,4 L -5,4 C 6.2,-1.4 -1,-10.4 -5,-4.5" />
      <line x1="3" y1="0.5" x2="3" y2="7.5" />
    </g>
    <g id="mpSaturn" class="mp">
      <path d="M 0,7.7 C 10.2,3 3.75,-5 0,0" />
      <path d="M 0,-7.5 L 0,0.5" />
      <path d="M -3.5,-4.5 L 3.5,-4.5" />
    </g>
    <g id="mpUranus" class="mp">
      <circle cx="0" cy="5" r="4" />
      <path d="M 0,-5.5 L 0,0.5" />
      <path d="M 2.5,-3.5 L -2.5,-3.5" />
      <path d="M -5.6,-7.4 A 3.75,3.75 0 0 1 -5.6,0" />
      <path d="M 5.6,-7.4 A 3.75,3.75 0 0 0 5.6,0" />
    </g>
    <g id="mpNeptune" class="mp">
      <path
        d="M -5.5,-7
        L -5.5,-4.5
        C -5.5,-4.5 -5.5,-4.5 -5.5,-4.5
        C -5.5,-1.5 -3,1 0,1
        C 3,1 5.5,-1.5 5.5,-4.5
        L 5.5,-7"
      />
      <line x1="0" y1="7.5" x2="0" y2="-7" />
      <line x1="-3" y1="4" x2="3" y2="4" />
    </g>
    <g id="mpPluto" class="mp">
      <circle cx="0" cy="4" r="4" />
      <path d="M 0,-7 L 0,0" />
      <path d="M 2.5,-2.5 L -2.5,-2.5" />
      <path d="M -4,-9 A 4,4 0 1 0 4,-9" />
    </g>
    <g id="mpMeanNode" class="mp">
      <path d="M -3,6 A 6,6 1 1 1 3,6" />
      <circle cx="-4" cy="8" r="2" />
      <circle cx="4" cy="8" r="2" />
    </g>
    <g id="mpTrueNode" class="mp">
      <path d="M -3,6 A 6,6 1 1 1 3,6" />
      <circle cx="-4" cy="8" r="2" />
      <circle cx="4" cy="8" r="2" />
    </g>
    <g id="mpMeanSouthNode" class="mp">
      <path d="M -3,-6 A 6,6 1 1 0 3,-6" />
      <circle cx="-4" cy="-8" r="2" />
      <circle cx="4" cy="-8" r="2" />
    </g>
    <g id="mpTrueSouthNode" class="mp">
      <path d="M -3,-6 A 6,6 1 1 0 3,-6" />
      <circle cx="-4" cy="-8" r="2" />
      <circle cx="4" cy="-8" r="2" />
    </g>
    <g id="mpMeanApogee" class="mp">
      <path
        d="M -4.25,-7
        C -2.25,-9 1,-9 3,-7
        C 5,-5 5,-1.66 3,0.33
        C 1,2.3 -2.3,2.3 -4.3,0.3
        C -4.3,0.3 0,0.1 0,-3.35
        C 0,-6.75 -4.3,-7 -4.25,-7 z "
      />
      <path d="M 0,8 L 0,2" />
      <path d="M -3,5 L 3,5" />
    </g>
    <g id="mpOscuApogee" class="mp">
      <path
        d="M -4.25,-7
        C -2.25,-9 1,-9 3,-7
        C 5,-5 5,-1.66 3,0.33
        C 1,2.3 -2.3,2.3 -4.3,0.3
        C -4.3,0.3 0,0.1 0,-3.35
        C 0,-6.75 -4.3,-7 -4.25,-7 z "
      />
      <path d="M 0,8 L 0,2" />
      <path d="M -3,5 L 3,5" />
    </g>
    <g id="mpEarth" class="mp">
      <circle cx="0" cy="0" r="7" />
      <line x1="0" y1="-7" x2="0" y2="7" />
      <line x1="-7" y1="0" x2="7" y2="0" />
    </g>
    <g id="mpChiron" class="mp">
      <circle cx="0" cy="5" r="4" />
      <path d="M -2,-9 L -2,1" />
      <path d="M 3,-7 L -0.5,-4 L 3,-1" />
    </g>
    <g id="mpPholus" class="mp">
      <path d="M 0,2.5 L 5,-2.5 L 0,-7.5 L -5,-2.5 z" />
      <line x1="0" y1="2.5" x2="0" y2="9" />
      <path d="M -6,9 L -3,5 L 0,9 L 3,5 L 6,9" />
    </g>
    <g id="mpCeres" class="mp">
      <path d="M 0,2.5 A 5,5 1 1 0 -5,-2.5" />
      <line x1="0" y1="2.5" x2="0" y2="9" />
      <line x1="-3.5" y1="5.5" x2="3.5" y2="5.5" />
    </g>
    <g id="mpPallas" class="mp">
      <path d="M 0,2.5 L 5,-2.5 L 0,-7.5 L -5,-2.5 z" />
      <line x1="0" y1="2.5" x2="0" y2="9" />
      <line x1="-3.5" y1="5.5" x2="3.5" y2="5.5" />
    </g>
    <g id="mpJuno" class="mp">
      <line x1="0" y1="-7.5" x2="0" y2="9" />
      <line x1="-3.5" y1="5.5" x2="3.5" y2="5.5" />
      <line x1="-5" y1="-2.5" x2="5" y2="-2.5" />
      <line x1="-4" y1="-6.5" x2="4" y2="1.5" />
      <line x1="-4" y1="1.5" x2="4" y2="-6.5" />
    </g>
    <g id="mpVesta" class="mp">
      <path d="M -8,0 L -5,0 L 0,8 L 5,0 L 8,0" />
      <path d="M -3,-2 L 0,3 L 3,-2" />
      <path d="M 0,-5 L 0,-2" />
    </g>
    <g id="mpInterpretedApogee" class="mp">
      <circle cx="0" cy="0" r="7" />
      <circle cx="0" cy="0" r="3" />
    </g>
    <g id="mpInterpretedPerigee" class="mp">
      <circle cx="0" cy="0" r="7" />
      <circle cx="0" cy="0" r="3" />
    </g>
    <g id="mpLilith" transform="translate(-8,-8)" class="mp">
      <path d="M 12.980469 7.992188 C 12.46875 8.335938 11.855469 8.535156 11.199219 8.535156 C 9.433594 8.535156 8 7.101562 8 5.332031 C 8 3.566406 9.433594 2.132812 11.199219 2.132812 C 11.855469 2.132812 12.46875 2.332031 12.976562 2.671875 C 12.058594 1.074219 10.332031 0 8.355469 0 C 5.410156 0 3.019531 2.386719 3.019531 5.332031 C 3.019531 8.054688 5.058594 10.300781 7.691406 10.625 L 7.691406 13.332031 L 5.691406 13.332031 C 5.507812 13.332031 5.359375 13.484375 5.359375 13.667969 C 5.359375 13.851562 5.507812 14 5.691406 14 L 7.691406 14 L 7.691406 15.667969 C 7.691406 15.851562 7.839844 16 8.023438 16 C 8.210938 16 8.359375 15.851562 8.359375 15.667969 L 8.359375 14 L 10.359375 14 C 10.542969 14 10.691406 13.851562 10.691406 13.667969 C 10.691406 13.484375 10.542969 13.332031 10.359375 13.332031 L 8.359375 13.332031 L 8.359375 10.667969 C 10.332031 10.664062 12.058594 9.589844 12.980469 7.992188 Z M 8.355469 10 C 7.722656 10 7.113281 9.875 6.539062 9.632812 C 5.984375 9.398438 5.484375 9.0625 5.054688 8.632812 C 4.625 8.203125 4.289062 7.707031 4.054688 7.148438 C 3.8125 6.574219 3.6875 5.964844 3.6875 5.332031 C 3.6875 4.703125 3.8125 4.09375 4.054688 3.515625 C 4.289062 2.960938 4.625 2.460938 5.054688 2.035156 C 5.484375 1.605469 5.984375 1.269531 6.539062 1.03125 C 7.113281 0.789062 7.722656 0.667969 8.355469 0.667969 C 9.191406 0.667969 10.007812 0.890625 10.722656 1.3125 C 10.808594 1.363281 10.894531 1.417969 10.976562 1.472656 C 8.949219 1.589844 7.332031 3.277344 7.332031 5.332031 C 7.332031 7.390625 8.949219 9.078125 10.976562 9.195312 C 10.894531 9.25 10.808594 9.304688 10.722656 9.355469 C 10.007812 9.777344 9.191406 10 8.355469 10 Z M 8.355469 10 "/>
    </g>
    <g id="mpRahu" transform="translate(-8,-8)" class="mp">
      <path d="M 15 7 C 15 3.132812 11.867188 0 8 0 C 4.132812 0 1 3.132812 1 7 C 1 9.425781 2.234375 11.5625 4.105469 12.816406 C 3.53125 13.082031 3.132812 13.660156 3.132812 14.332031 C 3.132812 15.253906 3.878906 16 4.796875 16 C 5.71875 16 6.464844 15.253906 6.464844 14.332031 C 6.464844 13.65625 6.0625 13.074219 5.480469 12.8125 C 4.75 12.496094 4.089844 12.046875 3.519531 11.476562 C 2.9375 10.894531 2.484375 10.21875 2.164062 9.464844 C 1.835938 8.683594 1.667969 7.855469 1.667969 7 C 1.667969 6.144531 1.835938 5.316406 2.164062 4.535156 C 2.484375 3.78125 2.9375 3.101562 3.523438 2.523438 C 4.105469 1.941406 4.78125 1.484375 5.535156 1.164062 C 6.316406 0.835938 7.144531 0.667969 8 0.667969 C 8.855469 0.667969 9.683594 0.835938 10.464844 1.164062 C 11.21875 1.484375 11.894531 1.941406 12.476562 2.523438 C 13.058594 3.105469 13.515625 3.78125 13.835938 4.535156 C 14.164062 5.316406 14.332031 6.144531 14.332031 7 C 14.332031 7.855469 14.164062 8.683594 13.835938 9.464844 C 13.515625 10.21875 13.0625 10.898438 12.476562 11.480469 C 11.910156 12.046875 11.25 12.496094 10.519531 12.8125 C 9.9375 13.074219 9.535156 13.65625 9.535156 14.332031 C 9.535156 15.253906 10.28125 16 11.203125 16 C 12.125 16 12.871094 15.253906 12.871094 14.332031 C 12.871094 13.660156 12.46875 13.078125 11.894531 12.816406 C 13.765625 11.558594 15 9.425781 15 7 Z M 5.800781 14.332031 C 5.800781 14.882812 5.351562 15.332031 4.800781 15.332031 C 4.246094 15.332031 3.800781 14.882812 3.800781 14.332031 C 3.800781 13.78125 4.246094 13.332031 4.800781 13.332031 C 5.351562 13.332031 5.800781 13.78125 5.800781 14.332031 Z M 12.203125 14.332031 C 12.203125 14.882812 11.753906 15.332031 11.203125 15.332031 C 10.652344 15.332031 10.203125 14.882812 10.203125 14.332031 C 10.203125 13.78125 10.652344 13.332031 11.203125 13.332031 C 11.753906 13.332031 12.203125 13.78125 12.203125 14.332031 Z M 12.203125 14.332031 "/>
    </g>
    <g id="mpKetu" transform="translate(-8,-8)" class="mp">
      <path d="M 11.894531 3.183594 C 12.46875 2.917969 12.867188 2.339844 12.867188 1.667969 C 12.867188 0.746094 12.121094 0 11.203125 0 C 10.28125 0 9.535156 0.746094 9.535156 1.667969 C 9.535156 2.34375 9.9375 2.925781 10.515625 3.1875 C 11.25 3.503906 11.910156 3.953125 12.476562 4.523438 C 13.058594 5.105469 13.515625 5.78125 13.835938 6.535156 C 14.164062 7.316406 14.332031 8.144531 14.332031 9 C 14.332031 9.855469 14.164062 10.683594 13.835938 11.464844 C 13.515625 12.21875 13.0625 12.898438 12.476562 13.476562 C 11.894531 14.058594 11.21875 14.515625 10.464844 14.835938 C 9.683594 15.167969 8.855469 15.332031 8 15.332031 C 7.144531 15.332031 6.316406 15.167969 5.535156 14.835938 C 4.78125 14.515625 4.101562 14.058594 3.519531 13.476562 C 2.9375 12.898438 2.484375 12.21875 2.164062 11.464844 C 1.835938 10.683594 1.667969 9.855469 1.667969 9 C 1.667969 8.144531 1.835938 7.316406 2.164062 6.535156 C 2.484375 5.78125 2.9375 5.105469 3.523438 4.519531 C 4.089844 3.953125 4.75 3.503906 5.480469 3.1875 C 6.0625 2.925781 6.464844 2.34375 6.464844 1.667969 C 6.464844 0.746094 5.71875 0 4.796875 0 C 3.875 0 3.128906 0.746094 3.128906 1.667969 C 3.128906 2.339844 3.53125 2.921875 4.105469 3.183594 C 2.234375 4.4375 1 6.574219 1 9 C 1 12.867188 4.132812 16 8 16 C 11.867188 16 15 12.867188 15 9 C 15 6.574219 13.765625 4.4375 11.894531 3.183594 Z M 10.203125 1.667969 C 10.203125 1.113281 10.648438 0.667969 11.203125 0.667969 C 11.753906 0.667969 12.203125 1.113281 12.203125 1.667969 C 12.203125 2.21875 11.753906 2.667969 11.203125 2.667969 C 10.648438 2.667969 10.203125 2.21875 10.203125 1.667969 Z M 3.796875 1.667969 C 3.796875 1.113281 4.246094 0.667969 4.796875 0.667969 C 5.347656 0.667969 5.796875 1.113281 5.796875 1.667969 C 5.796875 2.21875 5.347656 2.667969 4.796875 2.667969 C 4.246094 2.667969 3.796875 2.21875 3.796875 1.667969 Z M 3.796875 1.667969 "/>
    </g>
  </defs>
</template>

<script>
export default {};
</script>

<style></style>
