<template>
  <g id="signs">
    <g id="aries" title="Aries">
      <path
        id="aries"
        d="M 418.5,254.8 C 434.3,259 416.7,283.4 409.3,270.6 C 409.3,256 436.8,268.2 425.2,279.8"
      />
    </g>
    <g id="taurus" title="Taurus">
      <path
        d="M 393.41654,214.16277 A 7.1815534,7.1815534 0 1 1 379.05343,214.16277 A 7.1815534,7.1815534 0 1 1 393.41654,214.16277 z"
      />
      <path
        d="M 402.05659,210.54049 A 9.7227182,9.7227182 0 0 1 389.46264,197.63936"
      />
    </g>
    <g id="gemini" title="Gemini">
      <path
        d="M 327.9,170.6 C 324.8,174.7 342.8,179.6 341.5,174.2 C 338.4,171 331.6,191.8 336.9,191.4 C 339.8,187.8 322.8,182.5 323.3,187.8 C 327.5,190.6 332.82,169.5 327.9,170.6 z "
      />
    </g>
    <g id="cancer" title="Cancer">
      <path
        d="M 257.73779,179.06185 C 261.35516,171.7638 268.85597,169.97028 276.24884,173.8509"
      />
      <path
        d="M 263.2647,180.14136 A 2.8586366,2.8586366 0 1 1 257.54743,180.14136 A 2.8586366,2.8586366 0 1 1 263.2647,180.14136 z"
      />
      <path
        d="M 278.21129,181.17486 C 274.5939,188.47292 267.09308,190.26642 259.70024,186.38582"
      />
      <path
        d="M 278.35113,180.14136 A 2.8586366,2.8586366 0 1 1 272.63386,180.14136 A 2.8586366,2.8586366 0 1 1 278.35113,180.14136 z"
      />
    </g>
    <g id="leo" title="Leo">
      <path
        d="M 212.353,218.36121 A 2.4969709,2.4969709 0 1 1 207.35906,218.36121 A 2.4969709,2.4969709 0 1 1 212.353,218.36121 z"
      />
      <path
        d="M 211.83845,217.04038 C 211.89165,215.72876 202.64619,212.74157 202.60267,209.11347 C 202.55466,205.11206 206.16383,200.88167 210.90391,201.33055 C 215.58416,201.77376 218.19323,219.89577 223.71104,210.34327"
      />
    </g>
    <g id="virgo" title="Virgo">
      <path
        d="M 178.73092,259.25192 C 178.73092,259.25192 172.61807,256.76082 173.88184,253.92555 C 177.91125,244.88554 194.59455,270.29165 197.9204,266.53338"
      />
      <path
        d="M 168.07132,279.54282 C 165.71513,271.03479 178.36178,276.0928 185.3229,277.95803 C 185.2513,278.02292 168.52026,273.93525 169.87349,268.88496 C 170.77616,265.51613 187.35999,269.82107 187.48123,269.90295 C 187.48123,269.90295 170.9001,265.44682 172.17609,260.68472 C 173.40903,256.08328 192.96934,263.57692 194.66893,257.23393"
      />
    </g>
    <g id="libra" title="Libra">
      <path d="M 190.1,341.8 L 183.6,317.8" />
      <path d="M 185.3,343.1 L 182.9,334.4" />
      <path d="M 181.2,327.9 L 178.8,319.1" />
      <path d="M 183,334.5 A 6.7,6.7 0 1 1 181.2,327.8" />
    </g>
    <g id="capricorn" title="Capricorn">
      <path
        d="M 342,412.1 C 339.2,415.3 338.7,420.4 339.1,426.25 L 331.2,414.7 C 312,442.4 350.8,432.1 321.8,417.7 C 313.6,413.6 320.1,405.4 326.7,406.7"
      />
    </g>
    <g id="aquarius" title="Aquarius">
      <path
        d="M 397.2,381.5 C 397.2,381.5 398.4,385.5 397,386.9 C 395.6,388.3 393,385.7 391.7,387.1 C 390.3,388.5 392.9,391.1 391.5,392.5 C 390.1,393.9 387.5,391.3 386.1,392.7 C 384.7,394.1 387.3,396.6 385.9,398 C 384.5,399.4 380.5,398.2 380.5,398.2"
      />
      <path
        d="M 391.6,375.9 C 391.6,375.9 392.8,379.9 391.4,381.3 C 390,382.7 387.4,380.1 386,381.5 C 384.6,382.9 387.2,385.5 385.8,386.8 C 384.4,388.2 381.9,385.6 380.5,387 C 379.1,388.4 381.7,391 380.3,392.4 C 378.9,393.8 374.97,392.6 374.9,392.6"
      />
    </g>
    <g id="pisces" title="Pisces">
      <path d="M 431.3,325.4 A 8.9,8.9 0 0 1 414.5,320.9" />
      <path d="M 410,338.2 A 8.7,8.7 0 0 1 426.6,342.7" />
      <path d="M 421.9,327 L 419.3,336.7" />
    </g>
    <g id="sagittarius" title="Sagittarius">
      <path d="M 259.9,426.5 L 254.9,425.1 L 256.3,420.2" />
      <path d="M 278.5,411.5 L 254.8,425.3" />
      <path d="M 268.9,422.4 L 264.3,414.4" />
    </g>
    <g id="scorpio" title="Scorpio">
      <path
        d="M 217.8,404.7 C 209.3,402.6 220.2,394 225.4,388.8 C 225.4,388.9 213.1,401.7 209.6,398 C 206.3,394.2 219.4,383.1 219.6,383 C 219.6,383 207.25,395.3 203.8,391.9 C 199.2,387.5 215.5,379.3 210.5,374.3 C 206.8,370.7 197.2,373.2 196.2,382.4"
      />
      <path d="M 200.4,381.2 L 196.6,384.7 L 193.1,380.9" />
    </g>
  </g>
</template>

<script>
export default {};
</script>

<style></style>
