<template>
  <div id="app">
    <router-view name="navigation" />
    <section class="section">
      <keep-alive>
        <transition name="fade">
        <router-view />
        </transition>
      </keep-alive>
    </section>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation'
export default {
  components: {
    Navigation
  }
}
</script>


<style lang="scss">
  @import './assets/scss/index.scss';
  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    transition: all 1.2s ease;
  }


</style>
